[2015-04-06 02:29] nickoneill opened #1 "Expand permissions to microphone and camera"

[2015-04-06 02:32] nickoneill opened #2 "Report back when an authorization has been denied at the system level"
Or give some customizable alert responses?

[2015-04-06 04:04] nickoneill opened #3 "Expand permissions to photos"

[2015-04-06 21:01] nickoneill opened #4 "Allow users to cancel by tapping the background overlay"

[2015-04-06 21:14] nickoneill opened #5 "The two location types are incompatible"
i.e. you can't do one and then upgrade to the other yet. Probably for the best, people who ask for Always authorization are lame 👹

[2015-04-06 21:33] nickoneill commented on #2
This'll be hard for notifications!

[2015-04-06 22:11] nickoneill opened #6 "Allow customization of permissions button names"

[2015-04-06 23:43] nickoneill commented on #4
In fact the only way to cancel!

[2015-04-06 23:43] #4 closed

[2015-04-21 22:25] nickoneill opened #7 "You can tap through the background overlay"

[2015-04-24 17:16] nickoneill opened #9 "Can we detect notification settings being denied?"

[2015-04-24 17:24] nickoneill commented on #3
Fixed in 1ebb131564a7e81a73a1eda83ffa8922f80edb42

[2015-04-24 17:24] #3 closed

[2015-04-24 17:24] nickoneill commented on #2
Fixed (not for notifications) in 4ec7c7ea29af9b4d87e5a4b2bd1d5b4ebda7a6fb

[2015-04-24 17:24] #2 closed

[2015-04-24 17:25] nickoneill commented on #1
Fixed in 766b46fea4cbe8d31a7199a184a60c6b33e05347

[2015-04-24 17:25] #1 closed

[2015-04-24 18:55] bre7 opened #11 "Notifications and actions"
Easy and fast ways to do it:
* Add an extra attribute to the PermissionConfig struct (AnyObject? :no_entry_sign: )
* PermissionConfig class instead of struct (each class also would implement a protocol [status and request functions]). LocationConfig would have an extra attribute called "category: {UIMutableUserNotificationCategory}"

[2015-04-24 22:56] nickoneill commented on #11
I'm a bit confused by the suggestion here, a more clear plan for what problem this is fixing and how you plan do do it would be great.

I am hesitant to change PermissionConfig if it means more work for the implementing user. Again, I'm not entirely sure what's being suggested but we should just do the right thing for the 90% case if at all possible.

[2015-04-24 23:18] bre7 commented on #11
Problem: Unable to add categories for notifications ("Actionable/Interactive Push notifications")

Solutions: First comment. I'll try to think of a better way that doesn't include sub-classes

[2015-04-24 23:30] nickoneill commented on #11
Ah, ok! We could simply have a category optional on PermissionConfig and, if you require a category on notifications, you can set that to something non-nil. And we'll just use it during the notification request. None of the other config types would use it.

I am not opposed to having the extra nil property on everything else for the sake of simplicity!

[2015-04-24 23:38] bre7 commented on #11
Cool, I'll add it later then

[2015-04-25 20:45] bre7 commented on #7
Is this still happening ? Didn't you add a GestureRecognizer to prevent it ?

[2015-04-27 16:06] nickoneill commented on #5
This should be resolved now. In use authorization is superseded by always authorization.

[2015-04-27 16:06] #5 closed

[2015-04-27 22:44] nickoneill opened #13 "Add a proper cancel "X" in the top right corner"

[2015-04-27 22:50] nickoneill commented on #7
Yeah, this was fixed. Tested with the new background cancel switch.

[2015-04-27 22:50] #7 closed

[2015-04-27 22:50] nickoneill commented on #11
Looks good!

[2015-04-27 22:50] #11 closed

[2015-04-30 07:29] mythodeia opened #14 "Layout Issue"
Hello and thanks for sharing this library.
There is an issue with the layout of the presented view.
To replicate just to do this.
- open the app for the 1st time.
- tap to open the popup.
- tap outside of the popup to close it without pressing any of the buttons.
- tap to open the popup again. all items are shown in the top left corner.

screenshot attached below:
![layout](https://cloud.githubuse

[2015-04-30 15:31] nickoneill commented on #14
Thanks for the report! I'll check this out today.

[2015-05-02 20:42] nickoneill opened #15 "Add reminders permission"

[2015-05-02 23:23] bre7 opened #17 "Add Health permission"
~~Extra optional parameter (Health category type) needed in PermissionConfig, similar to what happened with Notifications~~. Using associated values would be better

In progress: [PermissionScope-wip/healthkit](https://github.com/bre7/PermissionScope/tree/wip/healthkit)

[2015-05-04 18:56] nickoneill opened #18 "Add public method for getting back all permission status"
Or requesting specific statuses.

Also, a Parse extension to plop these all into a permission class unique by user id + installation id

[2015-05-05 00:03] bre7 commented on #18
configuredPermissions ? Make the computed variables public then ?

Permission class ?

[2015-05-14 06:44] ramikay opened #19 "Add permission for Activity Monitoring"
For an app to access CMMotionActivityManager

[2015-05-14 17:51] nickoneill commented on #19
Good catch!

[2015-05-14 18:02] bre7 opened #20 "Add permissions for social media"
* Facebook
* Twitter
* SinaWeibo
* TencentWeibo
* Flickr
* Vimeo

[2015-05-14 18:06] bre7 opened #21 "Add permission for Bluetooth"

[2015-05-14 18:46] bre7 commented on #19
There's no way to check for the permission status, only when requesting you are able to verify the error.code :cry:

Also, I think we need to assume the following ([CMError codes](https://developer.apple.com/library/ios/documentation/CoreMotion/Reference/CMMotionManager_Class/#//apple_ref/c/tdef/CMError)):
- Device supports motion activity (CMErrorMotionActivityNotAvailable will never occur)
- App

[2015-05-15 11:34] mythodeia commented on #14
@nickoneill did you have a chance to look at it?

[2015-05-20 22:50] nickoneill opened #22 "Change the height of the dialog based on how many items are being requested"
This way we can use the dialog as a small notification permission request too

[2015-05-20 22:58] nickoneill commented on #14
Fixed this in 8a800f3, sorry for the wait!

[2015-05-20 22:58] #14 closed

[2015-05-20 23:05] bre7 commented on #22
AutoLayout ? :D

[2015-05-20 23:31] nickoneill commented on #18
Did this in 13710e8

As for the Parse stuff... it probably just belongs in my main project for now.

[2015-05-20 23:31] #18 closed

[2015-05-20 23:54] nickoneill commented on #22
hahhahahhaaahaaa

[2015-05-20 23:56] nickoneill commented on #22
In all seriousness, I think it's less crazy to just manually adjust it to one of those three options.

[2015-05-20 23:59] bre7 commented on #22
Yeah.

let height = baseHeight + (labelHeight \* count(configuredPermissions))

[2015-05-21 05:38] mythodeia commented on #14
thanks for the support :+1:

[2015-05-26 21:46] nickoneill commented on #22
Added this in 758fda7ce002de2131c982e8df9d1df5c6f73dee

[2015-05-26 21:46] #22 closed

[2015-05-26 21:47] nickoneill commented on #13
Added a close button in 5312ef99fb53c7aea22ea1d0747e2aa4679b18ef

[2015-05-26 22:37] nickoneill commented on #13
Added customization for the offset of this button. I'm happy with it now.

[2015-05-26 22:37] #13 closed

[2015-05-27 21:27] nickoneill opened #23 "Warning when alerting user about denied permissions"
This happens when we present the alert view: "Presenting view controllers on detached view controllers is discouraged" because we present it on the permission scope view rather than the main view.

[2015-05-27 21:28] nickoneill commented on #15
Hey, this was fixed.

[2015-05-27 21:28] #15 closed

[2015-05-27 21:30] bre7 commented on #15
:)

[2015-05-27 21:31] nickoneill opened #24 "How can we update LocationInUse to LocationAlways authorization?"
As far as I can tell it works like this:

If the app has LocationInUse authorization and LocationAlways is requested, it will display the request normally ONCE and give users the ability to "upgrade". If a user hits cancel, the authorization status will continue to return with LocationInUse (no change) but no request will show if we request LocationAlways in code again.

[2015-05-27 21:34] nickoneill commented on #24
I'm thinking of a special-casing this, setting an NSUserDefaults token that lets us return `.Unknown` exactly once in this case and `.Unauthorized` otherwise.

[2015-05-27 22:01] nickoneill commented on #24
OK, added a workaround in 5343fce

[2015-05-27 22:01] #24 closed

[2015-05-27 22:34] nickoneill opened #25 "Prevent retain cycles"
Should go through and clean up references to self: no self unless required ("explicit capture semantics") and add `[unowned self]` in the right places.

[2015-06-04 03:09] LinusGeffarth opened #27 "Issue with NotificationRequest"
Hey,
First off: this is really cool and I am happy that I came across this, so **thank you**!!

Now, I am having an issue with requesting notifications. When I use this code:

`        let pscope = PermissionScope()
        pscope.addPermission(PermissionConfig(type: .Notifications, demands: .Optional, message: "We use this to send you\r\nspam and love notes", notificationCategories: Set([somePrev

[2015-06-04 03:13] LinusGeffarth opened #28 "Resizing depending on # of requests"
How about resizing the view containing the requests depending on the # of requests?
So lets say I need 3 permissions then the view will have its complete size while for 1 it will automatically be smaller? (in sense of shorter on the y-axis)

Thanks :)

[2015-06-04 05:20] bre7 commented on #27
Linus, the _notificationCategories_ parameter is optional, intended to be used when you want to use interactive/actionable notifications ([Apple Docs](https://developer.apple.com/library/ios/documentation/NetworkingInternet/Conceptual/RemoteNotificationsPG/Chapters/IPhoneOSClientImp.html#//apple_ref/doc/uid/TP40008194-CH103-SW35)).

If you are going to use notification actions:

[code]

else use:

[2015-06-04 05:54] LinusGeffarth commented on #27
Hey,
Thanks for the quick response!

Look, as shown in the screenshot, it complains either way:

![screen shot 2015-06-03 at 22 52 54](https://cloud.githubusercontent.com/assets/9455439/7977799/60348ce6-0a43-11e5-8329-bcdaca965a11.png)

Weird thing is that here it works (except crashing):

![screen shot 2015-06-03 at 22 55 26](https://cloud.githubusercontent.com/assets/9455439/7977847/a931f4d8-0a4

[2015-06-04 05:58] bre7 commented on #27
I made a mistake in the second example :( There's an extra coma after the message

[2015-06-04 06:02] LinusGeffarth commented on #27
Yeah I could think of that already, no problem. Thats why my code in the second image works ;)
But still, the app crashes when I use that code & then press the button or anywhere else…

[2015-06-04 06:10] bre7 commented on #27
What's the crash error ?

[2015-06-04 06:20] LinusGeffarth commented on #27
There is none, thats the problem. It only says "(lldb)":

![screen shot 2015-06-03 at 23 20 23](https://cloud.githubusercontent.com/assets/9455439/7978160/28186d6a-0a47-11e5-962c-58c138fe4331.png)

[2015-06-04 06:43] bre7 commented on #27
Is the var _pscope_ stored in the view controller ? Or do you create it inside a function ? Try the first option.

[2015-06-04 06:47] LinusGeffarth commented on #27
Super cool! Thank you so much :)
(creating it as global variable was the solution)

[2015-06-04 06:51] #27 closed

[2015-06-04 06:54] LinusGeffarth opened #29 "Bug after cancelling Requests"
I open the request view with a button. When I cancel the request by using the default feature by tapping the background and then press the button again it looks the following:

![screen shot 2015-06-03 at 23 54 03](https://cloud.githubusercontent.com/assets/9455439/7978589/dba085bc-0a4b-11e5-857d-d227818f4250.png)

[2015-06-04 06:57] bre7 commented on #29
Similar to #14, I'll have a look later if nick hasn't by then.

[2015-06-04 07:32] LinusGeffarth commented on #29
Cool, thanks :)
And sorry, I did not see that one...

[2015-06-04 14:43] nickoneill commented on #28
Hi Linus, this should already occur based on fixes from #22. Are you still seeing a large dialog for just one permission?

How are you pulling PermissionScope into your project? I haven't updated the podspec in a bit so you might not be getting all the newest changes if you're using cocoapods. Grab it manually for all the newest stuff for now.

[2015-06-04 14:46] bre7 commented on #28
Or use:

[code]

[2015-06-04 15:02] nickoneill commented on #28
Or that :+1:

[2015-06-04 15:32] nickoneill commented on #27
Hey @bre7, I realized when doing the example app that it breaks if you create and use a pscope inline (cleaned up before the delegate gets to call back I'm guessing) rather than holding it in global or class scope.

Other than changing the example to reflect this pattern (which I'll be doing soon), do you have any other ideas for ways we can mitigate this issue?

[2015-06-04 15:57] bre7 commented on #27
Nope, I'll have a look tomorrow or monday though =S I noticed the same when I first downloaded the project, if you enable zombies it displays the cause.

[2015-06-04 15:59] nickoneill commented on #27
Yeah, I noted that zombies are probably an issue in #25. Better documentation it is!

[2015-06-04 16:13] bre7 opened #30 "Message sent to deallocated instance"
Cause of #27, the current solution is to set the PermissionScope() variable as a global one.
[code]
It happens with any event, not only after cancelling (like #29).

Steps to reproduce:
1. Open the example project
2. Delete *let singlePscope = PermissionScope()* ([Line 14](https://github.com/nickoneill/PermissionScope/blob/master/PermissionScope-example/ViewController.swift#L14))
3. Paste the abov

[2015-06-04 17:54] LinusGeffarth commented on #28
Oh ok, I used CocoaPods for PermissionScope 0.4 but I changed so many things :(
I can't seem to find where you resize the `contentView`...can you tell me?

[2015-06-04 18:04] nickoneill commented on #28
https://github.com/nickoneill/PermissionScope/commit/758fda7ce002de2131c982e8df9d1df5c6f73dee

[2015-06-04 18:14] LinusGeffarth commented on #28
Cool, thanks :)

[2015-06-04 18:14] #28 closed

[2015-06-05 12:02] TimothyChilvers opened #31 "PermissionScope becomes unresponsive after asking for Notification permissions if already user rejected"
Steps to reproduce:

Reset simulator
In example App, tap "Do a thing"
Tap "Allow Notification"
Tap "Don't allow"

Observe: Cannot interact with app

Addenda / separate issue:
After doing the above, kill the app and restart the App (Not simulator)
Tap "Do a thing" and "Allow Notification"

Observe: Cannot interact with app

Suggestion:
Store wether or not the user has ever been asked for notificati

[2015-06-05 14:14] bre7 commented on #31
Timothy, thanks for the detailed reports. If I recall correctly, the cause of the first bug is due to the fact that there's no way callback for notifications like other permissions so the app polls every second for changes. Unless there's something else I'm not seeing though, I'll reproduce it later.

[2015-06-05 18:33] #31 closed

[2015-06-05 18:41] nickoneill commented on #29
This was resolved in #14. I'll make note of how to pull the newest stuff with cocoapods in the readme.

[2015-06-05 18:41] #29 closed

[2015-06-05 20:14] LinusGeffarth commented on #29
Alright, thanks for the support :)

[2015-06-08 23:59] bre7 opened #35 "currentUserNotificationSettings: Unauthorized or Unknown"
Could someone test the following scenarios and report *currentUserNotificationSettings*' value?:
* First time the app is ever installed (Should be nil)
 * Returns optional with no types
* Allow the app to send notifications, then print the value
 * Returns optional with accepted notification types
* Deny the app to send notifications, then print the value
 * Returns optional with no types
* Allow

[2015-06-10 00:01] nickoneill commented on #9
Fixed this in #34 from @TimothyChilvers

[2015-06-10 00:01] #9 closed

[2015-06-13 17:30] bre7 opened #37 "Swift2 compatibility"
@nickoneill, new branch or wait til a stable release ?

[2015-06-13 17:32] nickoneill commented on #37
Feel free to make a branch if you'd like to hack on it now. I'm going to wait for b2 before I start converting any of my projects.

[2015-06-13 17:34] bre7 commented on #37
:P

[2015-06-21 17:18] bre7 opened #41 "Add index to readme"

[2015-06-21 17:21] nickoneill commented on #41
Yeah, I need to restructure the whole thing too. And do some more work on documentation.

[2015-06-21 17:22] bre7 commented on #41
Single page readme or wiki ?

[2015-06-21 17:39] nickoneill commented on #41
Short single-pager with animated GIF (working on this!) plus either wiki or really good code documentation site... the cocoapods one looks nice: http://cocoadocs.org/docsets/PermissionScope/0.6/Classes/PermissionScope.html

[2015-06-22 19:29] nickoneill opened #42 "Can we make any managers lazy?"
CBPeripheralManager is for bluetooth, wondering if we can move anything else like location to lazy as well.

[2015-06-22 19:33] nickoneill opened #43 "Release 1.0"
Some things we have to do for a stable API release:

- [ ] Bluetooth support (*in progress* #40)
- [ ] CoreMotion support
- [ ] HealthKit support
- [ ] Solidify API for non-UI requests (*in progress* #39)

This list is not exhaustive, just a start.

[2015-06-22 19:44] bre7 commented on #43
And fix #30

[2015-06-22 21:45] nickoneill opened #45 "Set up tests for supported permissions"
I haven't played with the UI testing in Xcode 7 yet but I expect we'll need lots of UI tests since permissions require user input. Hopefully we can automate this.

My preference would be something like this:
- [ ] Run a set of UI tests that create a few dialogs with each of the permissions
- - [ ] Verify all permissions can be denied and detected as such
- - [ ] Verify all permissions can be appro

[2015-06-26 00:34] felix-dumit commented on #45
The hackish way to re-request permissions on the device is to change the bundle id, we'd probably need to make a script to run the tests and also change the bundle in that case.

[2015-06-26 20:33] nickoneill commented on #45
Good idea, that's an excellent way of testing on device/sim without having to reset content and settings :/

[2015-06-26 20:33] nickoneill commented on #42
This was done in #47

[2015-06-26 20:33] #42 closed

[2015-06-26 20:40] nickoneill commented on #21
Fixed in #40

[2015-06-26 20:40] #21 closed

[2015-07-06 23:10] bre7 commented on #45
Sadly UIT doesn't support interaction with system alerts as far as I know...It'll be probably added by the time GM is released.

[2015-07-07 15:45] nickoneill commented on #45
Ugh. I'll do some testing when Xcode 7b3 comes out and file some radars if we can't.

[2015-07-16 17:39] Navideck-fotis opened #50 "All permissions optional"
I need to ask for 2 permissions which are both optional. However the dialog never appears.

[2015-07-16 17:45] nickoneill commented on #50
Hey @Navideck-fotis, that's "as designed" for the optional permissions and one of the reasons I dislike the pattern. I'm aiming to get rid of marking these required/optional and just letting users do the right action in the completion block.

For you right now, I would mark them both as required and show the dialog as usual. Users can then either cancel out or approve one/both permissions. You can

[2015-07-17 05:44] fotiDim commented on #50
@nickoneill I am afraid that what you suggest will not work for my case. I am requesting permissions for Notifications and Motion (by the way I have motion ready for you). My app works fine without them. However I don't want to bug the user every time to allow these permissions. It would be highly annoying.

Instead I might suggest that the dialog appear every 10 runs if the optional permissions a

[2015-07-17 17:27] nickoneill commented on #50
I agree @Navideck-fotis, in fact I do just that with notifications in one of my apps; every x days you get a prompt if not approved. I think this is an excellent chance to build this into the permissions display functionality while removing the misguided required/optional stuff.

Thanks for thinking through this with me! Please send over the motion stuff when you're ready, I believe @bre7 ran into

[2015-07-17 19:10] nickoneill opened #51 "Remove optional/required demands"
This was the wrong way to go, users can manage how the dialog behaves in the callback. See issue #50

[2015-07-17 19:11] nickoneill opened #52 "Implement reprompt after certain times"
We already do this in treat so it should be easy to bring into the code. Model this after the way [AwesomeCache](https://github.com/aschuch/AwesomeCache) does expiration times.

See discussion in issue #50

[2015-07-18 16:43] fotiDim commented on #19
@nickoneill @bre7
I have motion activity working all right. In fact I have submitted an app to the App Store with it. There are just a two bugs I want to look into. However as the project I was working on was in ObjC I used this pull request's code as a starter: https://github.com/nickoneill/PermissionScope/pull/49 . So I suggest that I hold on until you merge this one.

[2015-07-18 17:11] fotiDim commented on #50
@nickoneill If I get correctly what you want to do is to be able to set a different "expiration" time for each permission. So if one of the dialog's permissions has expired (and state is unknown or denied ), then the full dialog appears (including non expired permissions). Am I right?

You have to take into account a scenario that someone wants to set one or more permissions as required. What woul

[2015-07-18 17:34] nickoneill commented on #50
Required permissions are a totally unrelated different thing. If you need a required permission, just take some action to prevent a segue or dismiss a view controller in the cancel callback.

I'm not sure how expiration times per-permission would work yet. Would it be useful to hide permissions that are already approved? This could have implications for non-remindable permissions too.

[2015-07-18 18:18] fotiDim commented on #50
What I mean by "required" is that I want the dialog to appear every time until the user accepts all permissions. I guess it would be equal to setting expiration to "0". As you said, handling the action is up to the developer to implement.

I think is a very good idea! It has crossed my mind as well. Less UI bloat = More chances that the user hits the right button. I would make it optional though a

[2015-07-29 15:30] Pym opened #54 "Swift 2.0 support"
Hello! When can we expect Swift 2.0 support? Thanks

[2015-07-29 15:32] bre7 commented on #54
Check #37. I might have a look later this week or next one unless someone pushes a branch.

[2015-07-29 16:18] nickoneill commented on #37
SOON

[2015-07-29 17:10] nickoneill commented on #54
Yep, we'll have a branch for this soon. Let's track in #37.

[2015-07-29 17:10] #54 closed

[2015-07-30 02:33] bre7 commented on #37
Swift2 fixes added. If it weren't for ObjC compatibility, PermissionType enum would only be one line :/

[2015-07-31 16:47] nickoneill commented on #37
This is in the swift2 branch for now.

[2015-08-07 06:24] evermeer opened #58 "Add CloudKit discoverability permissions."
For this you can use the following 2 Async calls:

[code]
Edit: Formatted code.

[2015-08-07 19:59] nickoneill commented on #58
Thanks @evermeer, I'll look into adding this in.

[2015-08-07 20:32] nickoneill commented on #19
Working this in #53

[2015-08-11 22:56] nickoneill commented on #19
Fixed

[2015-08-11 22:56] #19 closed

[2015-08-11 22:57] nickoneill commented on #6
This seems to be a constant source of forks so might be wise to do this for v1

[2015-08-12 01:26] bre7 commented on #6
The text ? It's partially implemented, though not in code but rather using localization. Check https://github.com/nickoneill/PermissionScope/pull/12#issuecomment-96428580.

[2015-08-12 20:27] nickoneill commented on #6
Oh, right. I'll make note of this in the readme.

[2015-08-13 14:24] fotiDim commented on #20
I will try to work on this in the following days.

[2015-08-21 08:37] TomMajor opened #61 "Link "Show me" does not work on denied a permission"
I am surprised that I did not find this as an issue already filed or something in the readme file about it.

Anyway, if I click in the example app on "Show me" for a denied permission, it does jump to the general settings entry for this app (which is just blank), and not to Settings/Privacy/Contacts/AppName (as an example). This makes the link somehow useless and confusing for the user I think.

I

[2015-08-21 15:06] nickoneill commented on #61
I haven't seen this issue @TomMajor, any denied settings show in the "general settings for this app" for me.

Can you be more specific about the system you're testing on and what permissions you're test with?

[2015-08-21 15:26] kylejm opened #62 "Add framework archive to release"
Incase you didn't know (I only found out today :joy:), all you have to do is:

[code]

Then just upload the .zip in the project root.

This will save a bunch of time on CI server and the like.

[2015-08-21 15:40] bre7 commented on #61
The only link that you can set corresponds to "Settings/_AppName_". There used to be a way to link to specific settings (using the  **prefs://** URL scheme) but it doesn't work anymore and also I don't think it's allowed.

And I concur with .@nickoneill, any permissions that you have denied _should_ appear in the app's settings unless they are disabled system wide.

[2015-08-21 16:02] nickoneill commented on #62
Thanks Kyle! Does this work the same as tags for the source? i.e. I have to make a new release for the archive to be picked up by the tools?

[2015-08-21 16:03] ky1ejs commented on #62
No problem! No, you can add it to an existing release and Carthage will pick it up :tada:

[2015-08-21 16:53] TomMajor commented on #61
iPhone 6 - iOS 8.4.1
I am testing your PermissionScope-example sample app, permission "contacts" for example.
The permission is denied in the settings.

Then I start your app - screen 1
I tap "Denied Contacts" and then "Show me" - screen 2
The app jumps to the general settings for this app - which is a blank page - screen 3
What should a user with limited knowledge on iOS settings do on this blank

[2015-08-21 17:06] bre7 commented on #61
There seems to be a problem.

Read my earlier comment. As you stated, you _can't_ open Settings/Privacy/Contacts/AppName only Settings/AppName.

If you install the app for the first time and says "Denied ..." and you haven't denied any permissions from the app itself or using Settings then there's a bug on the status detection.

[2015-08-21 17:10] nickoneill commented on #61
Another user just approached me separately saying that Photos is always denied to them, even without requesting the permission. The coincidence makes me think there's a status detection bug somewhere.

[2015-08-21 17:11] TomMajor commented on #61
Hello bre7,

yes, I have read your comment and this is also what I have found so far, you can't open Settings/Privacy/Contacts/AppName.

My point is the "Show me" link, do you see? It jumps just to the wrong place. What should the user accomplish on this blank page? It is just confusing.

[2015-08-21 17:12] nickoneill commented on #61
@TomMajor Have you actively denied these permissions or do they just appear that way automatically?

What @bre7 is saying is that it jumps to the _right place_ for some people. We both see settings for all these things listed on the page where "show me" takes you. The fact that it does not show up in that location for you and some other users is something we're trying to track down.

[2015-08-21 17:17] TomMajor commented on #61
I have denied them actively for testing.

This happed in my app and confused the user later on (he could not remember that he did it or even the OS did it, or updates, I don't really know), so I was searching for solutions and found your project. But with the wrong "Show me" link, this will make the confusion of the user not easier (:

[2015-08-21 17:22] nickoneill commented on #61
Ok, so a different issue from the other user who was seeing denied photos permissions automatically.

We'll look into why the app settings page appears differently for you than it does for others.

[2015-08-21 17:34] bre7 commented on #61
I haven't been able to reproduce it.

@TomMajor could you try the swift2 branch just to be sure ? I've just tested it and the screen shows "Contacts" like it's supposed to.

[2015-08-21 21:36] TomMajor commented on #61
yes, I could test the swift2 branch tomorrow. Will swift2 branch work on xcode 6.4?

Are you saying you don't get the blank page when you hit "Show me" on a (denied before) contact permission dialog? Could you please  post a screenshot how that page looks on your machine?

[2015-08-21 21:49] bre7 commented on #61
No, Swift 2 requires Xc7

<img width="156" alt="screen shot 2015-08-21 at 18 51 29 png2" src="https://cloud.githubusercontent.com/assets/3183848/9420274/11bd21b0-483a-11e5-91d2-4e1593fededc.png"> <img width="156" alt="screen shot 2015-08-21 at 19 03 03 png2" src="https://cloud.githubusercontent.com/assets/3183848/9420281/1e874632-483a-11e5-93ec-e2b32f28d4f0.png"> <img width="156" alt="screen shot

[2015-08-21 21:58] bre7 opened #65 "Add description again"
@objc annotation won't allow for the new enum behavior on beta 5 -.-

[2015-08-21 22:09] #65 closed

[2015-08-21 22:29] bre7 opened #68 "Add HomeKit permission"
[code]

Error codes: https://developer.apple.com/library/prerelease/ios/documentation/HomeKit/Reference/HomeKit_Constants/index.html

**Not sure if you can detect the current status.**

[2015-08-21 23:26] bre7 commented on #58
Status should be an async call then :P

[2015-08-21 23:55] nickoneill commented on #58
Yeah, that was about as far as I got into the implementation too :)

[2015-08-21 23:59] bre7 commented on #58
What should we do when CouldNotComplete is returned ? Docs say that you should investigate the NSError returned so...Use throws ? Print the error ?

[Quick-dirty version](https://github.com/bre7/PermissionScope/tree/wip/cloudkit) done...Can someone test it ? Don't use the example app, but rather a new one since it requires entitlements on your App ID

Should we add an observer for [CKAccountChange

[2015-08-22 15:09] bre7 commented on #41
https://appetize.io/upload ? Cocoacontrols started using it and it's pretty great.

[2015-08-22 17:12] TomMajor commented on #61
@bre7 thanks for the screenshots, with that I could see how it is supposed to work.

I have done more tests with master branch, it is getting more confusing and the bug is more serious than I thought yesterday:

I noticed today, that I have all my app settings listed twice on my iPhone 6, like here:
https://discussions.apple.com/thread/6726557?start=0&tstart=0
This was not the case 2 days ago, so

[2015-08-22 17:38] nickoneill commented on #61
Thanks for the testing @TomMajor. I'll do some more testing around this to see if I can reproduce any part of the problem.

However, I'm really hesitant to say that PermissionScope is the root cause of this problem, particularly because so far it only applies to your device. Any other peculiarities that we should know about your setup?

[2015-08-22 17:47] TomMajor commented on #61
no, nothing special about my setup that I would know of, just a regular iPhone 6 with iOS 8.4.1, German localization, xcode 6.4, Mac OS 10.10.5, just loading PermissionScope project, select real iPhone device as target, go to Product->Scheme and change to PermissionScope-example, hit Run.

Somehow I think the bug is related to:
after first run, if I follow the "Show me" link, land in settings and

[2015-08-22 19:10] bre7 commented on #20
~~[First try](https://github.com/bre7/PermissionScope/tree/wip/social). Compiler errors due to new associated values, can't tell the cause :S
Also, if we use associated values in enums there's no point using allValues since we don't have the parameters for them (?). And without associated values we have to use extra parameters on init like for notifications...which isn't ideal~~

~~Associated valu

[2015-08-22 20:27] bre7 commented on #61
Could you change the language to English and re-test ? Just to be sure.

[2015-08-22 21:06] bre7 commented on #45
I think you can interact with system alerts now. The recording feature does detect them at least.

I've found something in the forums related to a UI testing (iOS9+) bug when interacting with system alerts: https://forums.developer.apple.com/thread/11574 but not sure if it stills hapenning.

[2015-08-22 21:12] TomMajor commented on #61
@bre7 yes, will do that.

I could reproduce the PermissionScope-example hanging in Simulator (sometimes), but not the "duplication" of the app settings list.

I saw something strange on testing on the simulator, please see the screenshot. When I do the "Show me" link and change from there the permission from on to off or vice versa, sometimes xcode breaks, but not with a real crash, but with "sign

[2015-08-22 21:18] bre7 commented on #61
It's expected behavior since you just changed an app permission. The app is forced to restart I think.

[2015-08-22 21:33] bre7 opened #69 "Notifications detected as Denied"
How to reproduce:
1. Launch example
2. Tap Multi
3. Tap Notifications (Don't select any option on the new alert)
4. Reboot device

When the app is re-opened, the Notification's button will be titled "DENIED" instead of "ALLOW"

[2015-08-22 21:58] #35 closed

[2015-08-25 19:44] evermeer commented on #58
Hi, I tried adding the Quick-dirty version to a project of mine using:

[code]

I just did a pull request to make it work in beta 6

[2015-08-25 19:50] evermeer commented on #58
I'm currently adding it to the demo at https://github.com/evermeer/EVCloudKitDao/tree/Swift2
I will push it to GitHub when it works ok with beta 6.

[2015-08-25 19:59] bre7 commented on #58
Awesome, thanks for that @evermeer

[2015-08-25 20:18] evermeer commented on #58
I have been thinking about the  CKAccountChangedNotification. I think it should be implemented by the developer. This because he should probably also have to reset the interface to an initial state. (exit user specific screens) and there is a chance that it should be done before PermissionScope screen is shown. So the current callback functions might be too late.

Or... Maybe PermissionScope could

[2015-08-25 20:54] evermeer commented on #58
I found some issues with this version. I will do some more tests.
My test case:

[code]

When running this on a simulator that was just reset:
1. Click on the notifications button will give a prompt, when clicking on OK the button changes to ‘Denied notifications’. But I pressed OK so it should say that notifications are allowed.
2. When pressing on CloudKit you get the message ‘please enable acce

[2015-08-25 21:11] bre7 commented on #58
Yeah, it's a bug being tracked in #69.

It's a system alert so there's nothing we can do other than present a new alert first ? Which isn't very nice.

Where is the function _showPermissionScope()_ being called from ? Because it sounds like you are trying to add a **.Notifications** permission again, maybe you added the call in viewDidAppear ?

[2015-08-25 21:21] evermeer commented on #58
Ah, ok, for now I will wait for #69

No, it's not a system setting, it's from this line:

[code]

Maybe that line is a little to generic?

Another ah, I see, my bad.. The moment NSUbiquityIdentityDidChangeNotification is triggered I tried executing PermissionScope again without resetting it.

I do have another issue. After restarting the app it will immediately execute the callback with finished i

[2015-08-25 23:59] nickoneill commented on #69
We were setting out notification tracking bit slightly too early here. Fixed in 9a65528

[2015-08-25 23:59] #69 closed

[2015-08-26 00:02] nickoneill commented on #62
Knee-deep in swift2 refactoring... we'll definitely get this in for that release.

[2015-08-26 00:04] nickoneill commented on #23
I believe this was fixed with the `viewControllerForAlerts` fixes.

[2015-08-26 00:04] #23 closed

[2015-08-26 00:04] ky1ejs commented on #62
No worries! If you need help, let me know. I love this project and I'm pretty certain we're going to be shipped in our application.

If you need extra owners for some stuff like this, holler at me.

[2015-08-26 00:05] bre7 commented on #58
Oops, sorry about that. The message might need some rephrasing, @nickoneill will take a look later though imo it's fine. The only fix I can think of is using prettyDescription instead of the name itself.

Not sure why it's happening...I'll have a look later.

Update: @evermeer I think I've found the problem, it was related to the computed variables (someone deleted the .Required) which is fixed in

[2015-08-26 00:07] nickoneill commented on #62
I'll gladly take a PR to put this in master/swift1.2 if you need it ASAP. I'm not sure how inconvenienced not having this makes people.

[2015-08-26 00:08] ky1ejs commented on #62
I don't think I can PR adding files to tags, otherwise I would.

No worries :)

[2015-08-26 00:11] bre7 commented on #43
The following permissions should probably be in the next version since they require important changes to the API:
- [x] HealthKit support
- [ ] CloudKit support

[2015-08-26 00:13] nickoneill commented on #43
Yep, I'll jump on one of these threads and see what's happening with the async request stuff in the next day or two.

[2015-08-26 00:25] bre7 opened #71 "Extra init parameters alternatives for PermissionConfig"
We need a better approach instead of adding extra parameters to PermissionConfig's initializer.
If associated values are used in enums, allValues can't be used since we don't have the parameters for them.

Associated values, extra init parameters or a better solution (some sort of plugin system?)

[2015-08-26 00:59] nickoneill commented on #71
Can you clarify why you think the current system is bad? I'm still rather fond of it.

[2015-08-26 01:05] bre7 commented on #71
Not bad, but quite messy if we add Accounts and HealthKit since they require 3 extra parameters in total (2 new Sets for HK and a Dictionary for Facebook) :S
Which also would entail adding extra asserts to ensure those new parameters are !Optional for those specific permissions.

Something like:

[code]

[2015-08-26 01:09] nickoneill commented on #71
Oh I see what you're saying now.

Instead, we can simply provide a permissionconfig protocol and break each service into a new file / struct / class. That way each one can provide its own initializer (`HealthPermissionConfig(...)`) and we can keep complex logic like the async stuff or the notification tracker in those separate files.

[2015-08-26 01:17] bre7 commented on #71
Indeed, cleaner code. I'll try this new solution with HealthKit this week.

Are you going to release 1.0 as-is or wait for these new changes ?

[2015-08-26 01:19] nickoneill commented on #71
:+1: Let me know if you want to bounce any ideas off me, I'm interested in figuring out all the nitty gritty details too.

[2015-08-26 01:21] bre7 commented on #71
I'm still thinking about the async requests, specially if using GCD (I'm still getting the hang of it) or [Async](https://github.com/duemunk/Async) which is a pretty nice wrapper.

Would you mind adding third-party dependencies ?

[2015-08-26 01:25] nickoneill commented on #71
If you're more comfortable with Async, build it using that. We can always refactor to GCD which I'm pretty comfortable with.

[2015-08-26 03:58] bre7 commented on #71
No structs because of ObjC compatibility :/

UPDATE: PermissionConfig is a Protocol for now

[2015-08-26 05:43] bre7 commented on #17
@nickoneill: HK permission working (Don't use the example since you need to add the entitlement and link it to your account) on my last commit to the `wip/health-cloud-kit` branch. There's something we need to consider first:
- What to do when the user asks for x types to share and y types to read ? Return .Authorized if all of them were ? What about SharingDenied and NotDetermined ? [Link to the

[2015-08-26 08:02] evermeer commented on #58
Great!

I now have it working in my demo app and pushed it to GitHub. I did create a workaround for reactivating PermissionScope in the event that the NSUbiquityIdentityDidChangeNotification was called the moment the PermissionScope screen was still open. The workaround is calling the hide and then after 1 second the show. It would be nice if there was a method in PermissionScope to reinitialize e

[2015-08-26 14:30] bre7 commented on #58
Create a separate issue for it. That's the disadvantage of not having PScope as the observer itself.

Everything else worked as expected using my branch ?

[2015-08-26 14:54] evermeer opened #73 "Add an option to reinitialize PermissionScope"
As discussed in issue #58:

When PermissionScope is shown and an event was triggered that should cause a reevaluation of the permissions then currently the following workaround is required:
First execute the hide function, then wait for a second and call the show function.

I used this workaround in in EVCloudKitDao after the NSUbiquityIdentityDidChangeNotification was called the moment the Permis

[2015-08-26 14:56] evermeer commented on #58
Besides the #69 and #73 issues everything worked as expected.

[2015-08-26 20:16] bre7 opened #75 "Set a new Denied alert messsage for HealthKit"

[2015-08-26 22:21] bre7 commented on #51
They are all required atm ([PermissionScope.swift#L848](https://github.com/bre7/PermissionScope/blob/wip/health-cloud-kit/PermissionScope/PermissionScope.swift#L848)), since `requiredAuthorized()` and `allAuthorized()` return the same value.

[2015-08-28 16:59] #71 closed

[2015-08-28 17:01] bre7 commented on #41
Added (wip/health-cloud-kit branch)

[2015-08-28 17:01] #41 closed

[2015-08-28 17:02] #37 closed

[2015-08-28 18:21] bre7 opened #78 "Code documentation"
*In progress*

[2015-08-28 19:08] bre7 commented on #78
@felix-dumit @Navideck-fotis could either of you add doc for the CMMotion and Bluetooth related functions and variables ? Use [VVDocumenter](https://github.com/onevcat/VVDocumenter-Xcode) if you don't already have it.

[2015-08-28 20:00] nickoneill commented on #17
I really like the look of the PermissionConfig stuff, feels much nicer. Let's get this stuff in before we play with more decoupling, I want to evaluate those changes separately.

For the HealthKit stuff... I'm OK with sending users to the same App Settings page for the moment, even if HealthKit isn't listed there. It's better than the alternative of just saying "HealthKit needs to be turned on, go

[2015-08-28 20:01] nickoneill commented on #17
Can you be more clear on your first issue? I'm not certain I understand what you're saying.

[2015-08-28 20:06] bre7 commented on #17
This one ?

Well, when requesting HK access one needs to specify 2 sets: elements that the app will share (aka write) and read. So, when we want to return HK's status what should we do ?

[code]

As the code shows, at the moment Authorized is only returned when all of them are.

[2015-08-28 20:06] nickoneill commented on #17
Ah, I see. Let me play with the API a bit.

[2015-08-28 20:09] bre7 commented on #17
I guess one solution could be to add an extra flag to **HealthPermissionConfig** called strictMode. If strict is enabled, then Authorized would only be returned when all of them are. Otherwise, if at least one has SharingAuthorized, then return Authorized

Code:

[code]

[2015-08-28 21:09] nickoneill commented on #17
Ugh, such granularity.

Your approach might be a good first shot. Some alternatives I was thinking about are:
• breaking the health items up by read / share (one config, shows as two items)
• breaking the health items up into individual data points to be requested (needs some other design for the buttons, they would still all be requested at once)
• providing HealthKit as a convenience API only, n

[2015-08-28 21:12] bre7 commented on #17
I'll commit strictMode for now. Then we'll think about improvements

[2015-08-28 22:49] felix-dumit commented on #78
Didn't know VVDocumenter worked with swift :+1:
@bre7 I checked and there are already docs for bluetooth, did you just want me to double check them?

[2015-08-28 22:51] bre7 commented on #78
Yeah, since I wasn't 100% sure about the workflow (CMMotion especially since I didn't implement any of it)

Btw, use VVDoc's [swift-2.0 branch](https://github.com/onevcat/VVDocumenter-Xcode/tree/swift-2.0) but beware that Alcatraz updates it with the master branch every time you open Xcode

[2015-08-28 22:59] bre7 opened #79 "Refactoring"
* Move status/request methods to each PermissionConfig
 * Not possible in every case...E.g: HealthKit requires parameters

[2015-08-29 00:02] bre7 commented on #79
How to refactor the request methods to each Permission ? request needs to call different functions depending on the current status (e.g: `.Unknown` ---> `detectAndCallback()`)

### Solution 1: Delegation

`self` will be a parameter on every permission =S  ? Or set the delegate in `addPermission(:)`

### Solution 2: `request()` has closure parameters for each status

[code]

Really messy...

### So

[2015-08-31 18:03] evermeer opened #84 "Add spinner to button on async status calls"
When calling the statusCloudKit method it could take a couple of seconds before the callback function is called. It would be nice if the button had an unknown state that maybe would include a spinner inside the button. Currently you will see an 'allow cloudkit' button which will suddenly change to 'allowed cloudkit' and changes color.

[2015-08-31 18:06] bre7 commented on #84
Nice catch ;D I'll have a look this week If I can but after #79

[2015-08-31 18:26] #17 closed

[2015-08-31 18:27] bre7 opened #86 "HealthPermission changes"
As discussed in #17:

• breaking the health items up by read / share (one config, shows as two items)
• breaking the health items up into individual data points to be requested (needs some other design for the buttons, they would still all be requested at once)
• providing HealthKit as a convenience API only, not allowing it to be requested in the dialog with other items (it already provides a gra

[2015-08-31 23:33] nickoneill commented on #51
Removed the demands in swift2 a few days ago.

[2015-08-31 23:33] #51 closed

[2015-08-31 23:54] nickoneill commented on #58
Maybe I don't have this set up correctly @evermeer but this looks broken in the example project for me.

I did the basics and let Xcode set up entitlements for me and requested the cloudkit permission, but the request screen is all over the place (see the screenshot below).

Additionally, the results callback is called with the other non-cloudkit permissions immediately, but never called with Clou

[2015-08-31 23:58] bre7 commented on #58
Mmmmh, it's probably a good idea to move CK to a new branch for the time being then.

@nickoneill could you close it and open a new issue ? So we can tag it properly as a bug

[2015-09-01 00:02] nickoneill commented on #58
Yeah, I'm feeling a bit of pressure to get the Swift 2 stuff locked down for iOS 9. I'll move it to a cloudkit branch and pull it from this branch so we can keep things relatively stable.

[2015-09-01 00:17] nickoneill commented on #78
Are we missing anything here? Everything looks pretty well documented to me.

[2015-09-01 00:20] nickoneill commented on #50
All permissions in the dialog are "required" now, there's an issue for reprompt (#52) and I'm not feeling the idea of removing permissions after they're approved. Doesn't seem like it achieves anything for users or developers. Feel free to open an issue for that if you'd still like to discuss.

[2015-09-01 00:20] #50 closed

[2015-09-01 00:25] nickoneill commented on #6
Done

[2015-09-01 00:25] #6 closed

[2015-09-01 00:59] bre7 commented on #78
It's ok for now.

Missing:
- [x] `showingNotificationPermission()` [L539](https://github.com/nickoneill/PermissionScope/blob/swift2/PermissionScope/PermissionScope.swift#L539)
- [x] `notificationTimer` [L550](https://github.com/nickoneill/PermissionScope/blob/swift2/PermissionScope/PermissionScope.swift#L550)
- [x] `finishedShowingNotificationPermission()` [L553](https://github.com/nickoneill/Perm

[2015-09-01 06:19] evermeer commented on #58
@nickoneill I have seen that screen 'glitch' before, but it's not consistent. It's always the last texts that is placed at the top of the screen. Maybe create a new issue for that? Or do you think it's Async/CloudKit related?

How I think you should handle async permissions:
- When the .show is called loop through the permissions to fetch the status. (no matter if it's async or not)
- Add a Permis

[2015-09-01 06:39] fotiDim commented on #52
We also do it in Tunedeck. However I am not sure if this should go into Permission Scope. Some developers might want to setup more complex scenarios e.g. show the dialog if a certain screen is visited more than 10 times.

Perhaps it's better to leave it up to the developer to implement as desired.

[2015-09-01 06:41] fotiDim commented on #50
It would be nice to give a property to enable removal of already approved permissions. I know I would use it in our app.

[2015-09-01 07:43] evermeer opened #87 "Check NSLocationWhenInUseUsageDescription when asking for location permission"
When doing an .addPermission for LocationWhileInUsePermission or LocationAlwaysPermission  the key NSLocationAlwaysUsageDescription or NSLocationWhenInUseUsageDescription has to be setup in the info.plist.

You can test it with code like this:
[code]

And if it's false then execute something like:
[code]

[2015-09-01 14:42] nickoneill commented on #50
@Navideck-fotis Open a new issue so we can keep track. I'd like to hear more about your thinking for how users would get into a state where they've only approved some permissions and are coming back through the same flow.

[2015-09-01 17:14] bre7 commented on #58
Fixed.

[2015-09-01 17:16] bre7 commented on #52
Or at least offer such functionality as an optional setting.

[2015-09-01 17:36] nickoneill commented on #87
Nice catch, this is really helpful for users. I can only wonder why Apple doesn't do this themselves.

[2015-09-01 18:22] bre7 commented on #87
~~@evermeer test the new PR if you can and I'll merge it.~~

Done.

[2015-09-01 18:53] #87 closed

[2015-09-02 18:59] nickoneill commented on #58
I remember fixing a similar visual glitch for another permission in the past, I'll have to dig into some commits to remember what the issue was.

I definitely like the `.Pending` status idea, @evermeer, particularly the repeated callbacks to authchange. I do think we should cater to the folks that just want to call `show()` and have us do The Right Thing as well. A property such as `showsWithPendi

[2015-09-02 18:59] nickoneill commented on #84
This is definitely related to how we plan on dealing with cloudkit as a whole (#58). I agree that something should indicate uncertainty when we display the dialog, this is the right direction to go for that.

I added some thoughts there on how we should deal with this technically, this issue may be wrapped into that one if the solutions are converging as they seem to be.

[2015-09-02 19:13] bre7 commented on #58
Old issue: https://github.com/nickoneill/PermissionScope/issues/14. Fix https://github.com/nickoneill/PermissionScope/commit/8a800f303f391b127b93eea70e0a016539431f5d

[2015-09-09 20:22] #78 closed

[2015-09-10 22:52] johnnyclem opened #92 "Landscape support"
I'm trying to implement permissionscope in a landscape only app, and the dialog box spills off the page, making it impossible to use.  Can landscape support be added in the future? I'd write the PR myself, but UI is my weak point

[2015-09-11 02:11] nickoneill commented on #92
Yeah, this seems doable for the future. I'll have to see how many we can fit vertically, or if we should go horizontal with the permission items.

Thanks! Happy to see a PR with a wip if you're feeling adventurous.

[2015-09-14 02:22] bre7 commented on #92
Might be a good idea to check out [OAStackView](https://github.com/oarrabi/OAStackView)/[TZStackView](https://github.com/tomvanzummeren/TZStackView) (UIStackView after PermissionScope drops support for iOS 8)

[2015-09-14 15:34] nickoneill opened #95 "Swapping swift2 ~ master ~ swift12"
FYI, I plan on swapping these out in the next day or two. The swift2 branch will become master at version 1.0 (as to not break anyone autoupdating with cocoapods) and the existing master branch will live on a new swift12 branch.

@bre7 @felix-dumit @evermeer @winzig Will that work with how everyone is currently using PermissionScope? I want to get a quick OK/Not OK from people to make sure I'm not

[2015-09-14 15:38] bre7 commented on #95
Yeah. That's how other libs usually update to a new swift version also.

P.S: Nice banner :wink:

[2015-09-14 15:47] evermeer commented on #95
Yes, that will work fine. I did the same with my repositories.
You don't even have to make a swift12. branch unless you are planning to make updates to it.
Otherwise people can just use the version number in order to get the swift 1.2 compatible version

[2015-09-14 15:50] bre7 commented on #95
Makes it easier for others to fork though.

[2015-09-14 16:30] winzig commented on #95
Works for me, thanks

[2015-09-14 19:51] felix-dumit commented on #95
Ok!

On Mon, Sep 14, 2015 at 9:30 AM, Tom Winzig notifications@github.com
wrote:

[2015-09-15 15:02] nickoneill commented on #95
All set here.

[2015-09-15 15:02] #95 closed

[2015-09-19 20:38] felix-dumit opened #97 "Optional import of Healtkit"
I submitted my app to the appstore but it was rejected with the following:

"27.6 - Apps using the HealthKit framework must indicate integration with the Health app in their marketing text and must clearly identify the HealthKit functionality in the app's user interface"

I'm not using Healthkit anywhere in my code so it must be due to PermissionScope.
So we need a way to make HealthKit optional,

[2015-09-19 20:42] bre7 commented on #97
Ahh :( yeah, sub-specs seem to be the way to go. What about Carthage ? New xcodeproj per subspec ?

[2015-09-19 20:42] nickoneill commented on #97
I was just approved for beta testing with the newest pscope code - afaik they want you to adhere to the guidelines for testflight as well as releases and this feels like something they would detect automatically. Are you sure it's not something else? An errant healthkit entitlement?

[2015-09-19 20:43] bre7 commented on #97
HK capability is off right ?

[2015-09-19 20:44] felix-dumit commented on #97
The app was approved for test flight beta, but rejected for the store.
I have not enabled health kit in capabilities.

[2015-09-19 20:44] nickoneill commented on #97
Ah, OK. Thanks for the tip. I'll work on this today.

[2015-09-20 01:57] gloparco commented on #97
In general this would be a good thing anyway - if your app doesn't use HealthKit, why should you be forced to include it?  Makes sense, no?

[2015-09-20 02:00] bre7 commented on #97
Yeah ;)

Remove HK for now and push 0.9.1 ? (Remove the GCD code using groups, there's no need for that since we are going to add the Pending status)

[2015-09-20 02:04] nickoneill commented on #97
The healthkit stuff is so unpolished right now, I feel OK with removing it from a 1.0.1 release @bre7.

@gloparco If you don't ask for them, permissionscope doesn't load or call any HealthKit APIs. It's possible that the import statement was linking the HealthKit framework through. Definitely a good reason to split stuff into files/subspecs.

[2015-09-20 02:46] bre7 commented on #97
Should be ok now

[2015-09-20 16:01] nickoneill commented on #97
Please give 1.0.1 a shot with this. I've removed all mentions of HealthKit and we'll work it back in via subspec soon.

[2015-09-20 16:02] nickoneill commented on #62
Just added this in 1.0.1. Give it a shot and let me know if it works for you @kylejm

[2015-09-20 20:39] felix-dumit commented on #97
I resubmitted. Will let you know the outcome

[2015-09-21 19:53] emaddoma opened #99 "Bluetooth Power"
Really love the work you've done here.  Just thought I would suggest you add support to display a button that only appears if Bluetooth is OFF.  Our app is using iBeacons and we would love to include a button that prompts the user to turn on Bluetooth, which as you know is different from asking for permission.  Perhaps touching the button could open the Settings app.  Again, thank you!

[2015-09-22 03:09] nickoneill commented on #99
Thanks @emaddoma! It looks like we can detect if bluetooth is on/off with the API but we definitely can't deliver the user to the right place in Settings to turn bluetooth on, only to the app's own page in settings.

That said, perhaps some better wording around the bluetooth status when requesting permissions would be nice.

[2015-09-22 03:13] bre7 commented on #99
There's no need to even send the user to the Settings app, but rather to use the sliding control panel. You should check how MacID shows the alert, subtle yet visible and with a great UI.

[2015-09-22 11:09] ky1ejs commented on #62
@nickoneill I just checked out 1.0.1 but it looks like there's not a PermissionScope.framework.zip attached

![screen shot 2015-09-22 at 12 08 27](https://cloud.githubusercontent.com/assets/3501212/10016976/c10c9b5e-6122-11e5-95d6-50646908fb65.png)

[2015-09-22 16:24] nickoneill commented on #62
OK, I attached a binary to that tag: https://github.com/nickoneill/PermissionScope/releases/tag/1.0.1

I believe it's independent of the version checked in to the project root. Can you link me to the docs that describe how Carthage wants the file for CI?

[2015-09-22 16:35] ky1ejs commented on #62
Ahhhh, I see. I didn't realise you'd put it in the project root :smile:

I'm not sure if this works, but even if it did, it's not a good idea, since the `.framework.zip` is an artefact and therefore shouldn't be tracked by Git. It's also quite nice to have each `.framework.zip` attached to it's corresponding release tag. This allows you to quickly download and integrate with any version of the fra

[2015-09-22 16:37] nickoneill commented on #62
Yeah, totally agree. Let me know if the current setup works and I'll do it for subsequent releases.

[2015-09-22 17:38] ky1ejs commented on #62
Worked great :tada:

[2015-09-23 01:35] nickoneill commented on #62
:+1:

[2015-09-23 01:35] #62 closed

[2015-09-25 19:27] nickoneill commented on #73
I'm not 100% on the use case here (I also haven't been dealing with CloudKit permissions much) but it sounds like our "pending" status support as mentioned in #58 will take care of this. Is that correct @evermeer?

[2015-09-29 21:50] emaddoma commented on #99
It's possible what I'm suggesting doesn't fit into the scope of your project.  I'm pretty sure that iBeacons are a part of Location Services, but don't actually work unless Bluetooth is turned on.  The actual permission for Bluetooth isn't even necessary for the user to grant to the app.

[2015-10-03 04:12] YKSing commented on #61
@TomMajor
Run the APP without Xcode debugger, it works perfect

[2015-10-10 17:30] TomMajor commented on #61
Hello nickoneill, bre7 and YKSing

sorry for the delay I was on vacation.

I can confirm now that this bug seems to be related to running with the debugger. Without the debugger, I can't produce the bug anymore. So everything seems to be fine now.

Thanks for a great framework.

Tom

[2015-10-10 17:30] #61 closed

[2015-10-10 17:31] nickoneill commented on #61
Thanks for the follow up @TomMajor!

[2015-10-10 17:43] TomMajor opened #104 "localization for UIAlertController possible?"
I am using localized strings like here:
https://github.com/nickoneill/PermissionScope/pull/12#issuecomment-96428580

Would it be possible to add this method also for the showDeniedAlert function? Otherwise the localization is somewhat broken, because of a mixed language if using this framework on a non-English system.

I would need these strings here:

"Permission for \\(permission) was denied."
"

[2015-10-10 21:51] bre7 commented on #104
Those strings were already localized by Leshich in #103 which I've just merged. ~~README needs an update about all the keys.~~

Keys updated in https://github.com/nickoneill/PermissionScope/pull/12#issuecomment-96428580

[2015-10-10 21:51] #104 closed

[2015-10-10 22:50] TomMajor commented on #104
Hello bre7,

wow, that was fast, thank you very much.

I am new to CocoaPods, I did a "pod update", also a "pod update
PermissionScope" in my project directory, but your/Leshich change from
today does not show in my project.

Do I miss something here? Sorry if this is a silly question. Asking
Google told me that pod update should be the right thing to do.

Thanks,
Tom

bre7 schrieb am 10.10.2015 u

[2015-10-10 22:57] bre7 commented on #104
Nope, you just need to wait for @nickoneill to push the new version to CP. You could also add this to your podfile:

[code]

Using `:head` instead of a fixed version will always check out the master branch from the repo.

[2015-10-10 23:00] TomMajor commented on #104
Thanks

bre7 schrieb am 11.10.2015 um 00:57:

[2015-10-10 23:06] nickoneill commented on #104
Use `:head` if it's important for you today. I'm going to review and test the new contacts framework PR and push a new version out to cocoapods tomorrow or Monday.

[2015-10-12 12:42] TomMajor commented on #104
Did a manual update. Localization is working great now, thank you.

[2015-10-13 06:13] onlyver opened #105 "why can't pull it to local from github"
`PermissionScope (~> 1.0)` required by `Podfile`

[2015-10-13 15:11] nickoneill commented on #105
Sorry, you'll have to be more clear about the issue you're having here. Are you trying to get this from cocoapods or installing manually? I highly suggest the cocoapods installation instructions in the readme.

[2015-10-14 19:53] cgst opened #106 "Option to turn CBPeripheralManagerOptionShowPowerAlertKey off"
PermissionScope triggers a system bluetooth power-on alert when checking for Bluetooth permissions. (CBPeripheralManagerOptionShowPowerAlertKey: true)

It would be great if there was on option to turn off this behavior.

[2015-10-14 19:53] nickoneill commented on #106
Thanks! :+1: I'll check this out.

[2015-10-14 21:26] cgst opened #107 "Don't start/stop Bluetooth advertising if powered off"
Attempting to
            bluetoothManager.startAdvertising(nil)
            bluetoothManager.stopAdvertising()
in triggerBluetoothStatusUpdate() outputs an error message on the iOS system console:

[CoreBluetooth] API MISUSE: <CBPeripheralManager: 0x15f1fb1a0> can only accept this command while in the powered on state

[2015-10-15 03:16] onlyver commented on #105
OC is used through out all my project, and I haven't start use swift, I just follow your "README" , I can't found the reason ,can you give me some advice? thanks for your time to answer my question .

[2015-10-15 14:56] nickoneill commented on #105
There's an example Objective-C project in the repo, it shows how to integrate and use PermissionScope in an ObjC context.

[2015-10-15 15:01] bre7 commented on #105
Paste your Podfile

[2015-10-16 09:23] onlyver commented on #105
platform :ios,'7.0'
pod 'AFNetworking', '~> 2.6.0'
pod 'MJRefresh', '~> 1.4.1'
pod 'MagicalRecord', '~> 2.3.0'
pod 'GPUImage', '~> 0.1.7'
pod 'iRate', '~> 1.11.4'
pod 'PermissionScope', '~> 1.0'
pod 'SVProgressHUD', '~> 1.1.3'

this list  install fail ,and left the error "[!] Unable to satisfy the following requirements:
- `PermissionScope (~> 1.0)` required by `Podfile`"

[2015-10-16 12:19] bre7 commented on #105
As stated in the README, PermissionScope only supports iOS 8+. Your podfile has iOS7 set as the platform.

[2015-10-16 12:19] #105 closed

[2015-10-20 00:03] nickoneill commented on #106
Disabling the alert is the right thing to do for pscope, we have enough other messaging around it.

[2015-10-20 01:03] felix-dumit commented on #97
Update here: The app was still rejected and I'm appealing (been a month already :disappointed:) but it had nothing to do with HealthKit so **we're good**.

[2015-10-20 01:35] #97 closed

[2015-10-20 01:36] bre7 commented on #97
Reopen the issue if the rejection turns out to be due to PScope

[2015-10-22 13:45] kylejm opened #110 "Swift 2.1 build"
Hey Nick, the current .zip will not work with Xcode 7.1 and Swift 2.1. Could you build, archive and upload a new version using Xcode 7.1 please? :smile: thanks!

[2015-10-22 15:23] nickoneill commented on #110
Hey @kylejm, I have a few things to include in the next release, this'll definitely be one of them.

[2015-10-22 18:37] ky1ejs commented on #110
Thanks @nickoneill!

For anyone else having this problem, you can get around it by using:

[code]

to build Permission Scope with Xcode 7.1.

[2015-10-23 20:39] shonorio commented on #79
Why addPermission has to fail I input same Permission more than one time? Why not just ignore the append action, or update the messasge? I'm coding a ViewControl where I check for PhotoPermission on every image tap. User can change a image never, ou do this 50 time just for fun. I created a check for statusPhoto before addPermission, but I think it's not necessary.

[2015-10-23 20:42] bre7 commented on #79
Valid point...I guess that failing is the simplest solution to prevent mistakes. Updating the message could be another way.

[2015-10-23 21:04] nickoneill commented on #79
It's _very_ clear what happens when you add the same permission twice right now. In any other case, it's unclear. I prefer the clarity.

@shonorio I suspect you'll have more success showing the permission once when users load this particular screen. Or, if you wanted to show it every tap, create it as a property on load and just `.show()` every time a tap occurs. No need to create/add the permissi

[2015-10-24 12:13] shonorio commented on #79
@nickoneill you have your reasons, It's was just one suggestion. You could use throws on 'addPermission' if you want be so strict, I can code this if ok for you.

[2015-10-24 18:26] nickoneill commented on #79
Thanks for the offer @shonorio, the API for adding a permission config is good for now. I'll keep it in mind for a future release.

[2015-10-30 14:54] AdventuresOfMar opened #112 "Getting Started"
Hello, I just pulled permissionscope into my project via cocoapods, I followed your instructions but permissions don't pop up for my iphone 6 only the emulator

[2015-10-30 17:43] nickoneill commented on #112
Hey @AdventureOfMar, are you using this in an existing project? Keep in mind the dialog will only open if you have _unaccepted_ permissions; it's automatically bypassed if all the permissions are already granted.

[2015-10-31 07:00] AdventuresOfMar commented on #112
Hi @nickoneill :) I am, first time building the app on my iphone 6 and the dialogs never appear. My xcode is xcode 7 with swift 2.1

[2015-11-01 17:31] nickoneill commented on #112
I'm not sure what the issue is. We could potentially narrow it down if you post the relevant code that you're using for permissionscope.

[2015-11-02 20:44] rlaferla opened #113 "Add "Show me" button in disabled dialog"
Please change this dialog to say:  "Not Now" and "Settings":

![image](https://cloud.githubusercontent.com/assets/1135694/10893760/7cbf01a0-8178-11e5-99f4-999cbfc9af95.png)

Also is there a way to customize the text in this dialog?

[2015-11-02 20:54] bre7 commented on #113
PRs are welcome.

Check the readme, under _customization_, last paragraph for instructions on strings customization.

[2015-11-02 21:07] nickoneill commented on #113
Hi @rlaferla, this particular message should only show when location services are disabled system-wide which is not a setting that will appear on the app-specific settings page (the only one we can link to in settings). Perhaps the text could be improved to indicate that location services are restricted system-wide?

We'd happily take a PR if you would like to improve the text in this case. Or you

[2015-11-02 21:48] rlaferla commented on #113
Understood.  However, adding a button that takes the user to the app-specific settings page is not a bad option.  Yes, it doesn't take them to the system setting but it does open up the Settings app, shows them that location is disabled and they are a couple of taps away to fixing it (if they so desire.)  The current behavior means that the user has to press the home button, find the settings app,

[2015-11-02 23:41] rlaferla opened #114 "Switch `onAuthChange` callback to return on the main thread"
Somehow the "show:" method is being executed in a background thread.

[code]

which yields this error:

[2015-11-02 23:43] nickoneill commented on #114
Are you calling show from the main thread? If not, it's straghtforward to dispatch_async into main and call show from there.

[2015-11-02 23:43] rlaferla commented on #114
Yes.  It is being called from the main thread.  I am using ObjC and am checking if the user gave permission for contacts, and if contacts are not authorized, show is called.  I verified that isMainThread = 1 before show is called and 0 when in the block.

[2015-11-02 23:50] nickoneill commented on #114
It's difficult to know the source of this without more context for your code. This warning doesn't show up for everyone else so it's not completely obvious what you're doing differently.

What does your main thread check say if you move it before the call to show?

[2015-11-02 23:55] rlaferla commented on #114
I just explained that.  It says that it's in the main thread BEFORE the call to "show" but not in the main thread in the block.

[2015-11-03 00:00] rlaferla commented on #114
I think it's a bug in detectAndCallback() where the onAuthChange() is not being called on the main thread.

[code]

[2015-11-03 00:21] rlaferla commented on #114
I tried submitting a fix but the CI server is complaining that there were no tests.  Please advise.  Also, do you agree with the fix and if so, can you submit it?

[2015-11-03 00:23] nickoneill commented on #114
Thanks for the PR, I'll check it out.

I'm not real clear on which autolayout is happening on the background thread. The existing implementation has the setNeedsLayout() for permissionscope inside the dispatch_async block. Is this autolayout from your app that's happening on the background thread?

I'll be the first to admit that the ObjC support doesn't get the most care around here but I'd be re

[2015-11-03 00:25] rlaferla commented on #114
I don't think it's ObjC only.  I am using iOS 9.1 and that is using the Contacts API vs. the ABAddressBook api.  That could explain it but I haven't really looked.  In any case, I think it's good to ensure that callbacks are on the main thread.  In response to your other question, I was modifying the UI in the show block which is the onAuthChange() block.

[2015-11-03 05:00] rlaferla opened #116 "3 permission limit?"
So if your app needs more than three permissions, PermissionScope doesn't work?  I need four and possibly more.

[code]

[2015-11-03 11:33] ky1ejs commented on #114
@nickoneill this is a similar change to my PR for the same problem a little while ago: #100

Looks good to me.

[2015-11-03 15:49] nickoneill commented on #116
You should still be asking for permissions contextually, as the app needs to access various components, rather than all the permissions upfront. The design supports this hypothesis by limiting the number of permissions you can request at one time to 3.

You can (and should) create a different instance of permissionscope when you're asking for different permissions and present those. To support thi

[2015-11-03 16:04] rlaferla commented on #116
I create one PermissionScope instance in the app delegate that is shared by the rest of the app.  During creation, permissions are added and it's at that time when the assert kicks in.

[2015-11-03 16:09] rlaferla commented on #116
I like configuring the permissions once and calling up the dialog.  Perhaps, I can take a slightly different approach and create instances of each Permission in the app delegate and then add them to scope instances.

I think there may be a design improvement here. How about if PermissionScope had a dictionary of permissions and you could toggle which ones are displayed?  The key for the dictionary

[2015-11-03 16:12] bre7 commented on #116
The problem is that some status methods require arguments

[2015-11-03 16:14] rlaferla commented on #116
Please elaborate.

[2015-11-03 16:18] nickoneill commented on #116
I don't see the benefit of switching to this model when you can achieve the same thing with our current model by adding multiple instances of permissionscope to any view controllers you need them in. In general, relying on state management in a singleton like the app delegate is frowned upon.

[2015-11-03 16:23] rlaferla commented on #116
Also, I think "message" should be an attribute of "Permission" rather than an additional argument when you add it to the scope.    In fact, the scope could be a dictionary and you could configure the message for each type ("contacts", "location", etc...) and whether or not it was enabled.  However, I need to better understand what other required arguments there are.

[2015-11-03 16:26] rlaferla commented on #116
For one, localization and message consistency.  It is beneficial to configure the messages in one place (perhaps with some flexibility of having alternate messages - but that's an exception case).  Another is memory usage.

[2015-11-03 16:29] bre7 commented on #116
The _message_ is related to the UI, I don't think it's right to send/store it when creating the Permission itself since it won't be used.

Notifications and Health (removed for the time being) for instance.

[2015-11-03 18:17] AdventureOfMar commented on #112
import Foundation
import UIKit
import Parse
import CoreAudio
import PermissionScope
import Parse

class loginViewController: UIViewController, UITextFieldDelegate {

    let pscope = PermissionScope()

    // This constraint ties an element at zero points from the bottom layout guide

    @IBOutlet weak var emailUsernameTextField: UITextField!

    @IBOutlet weak var passwordTextField: UITextField

[2015-11-03 18:23] AdventuresOfMar commented on #112
Here's my code: https://gist.github.com/bre7/d447e5e62a07e3c631d8

I think that I've been asking the wrong question. I completely looked over the `show.pscope` function and now getting the dialog to appear but, whenever I click the button to allow access to permissions or click on the `show me` button. I'm taken to the ios settings but the only thing that appears under allow access is cellular dat

[2015-11-03 18:31] nickoneill commented on #112
Give this a shot without the debugger, i.e. run it on a device without Xcode. See #61 for a case where "show me" links don't work with the debugger.

[2015-11-03 19:37] appinator commented on #86
@bre7 The strict mode you mentioned should work fine. I mean it is still able to deep link to the Settings.app with an alert if the user didn't give access to all HKSampleTypes.

Maybe its possible to use the HK.framework status (optional or required) from the plist?
In case its required and a user denies access to all Samples she/he would get a alert telling him to allow it and deep link to Setti

[2015-11-03 21:22] AdventuresOfMar commented on #112
Hmm, I'm not exactly sure that this is my issue. I've tried resetting my phone, deleting the app rebuilding, and running without the build strictly running on the device and still no luck. No matter what item I call to request permissions for i.e. contacts, location, photos, camera, microphone non of these items appear under Settings/AppName. The app name is correct but I'm not sure what I'm doing

[2015-11-03 22:13] bre7 commented on #112
Could you edit PermissionScope.swift [(Line 1140)](https://github.com/nickoneill/PermissionScope/blob/master/PermissionScope/PermissionScope.swift#L1140) and replace it with the following lines:
dispatch_after(0.2, dispatch_get_main_queue(), ^{
    UIApplication.sharedApplication().openURL(settingsUrl!)
});

[2015-11-03 22:19] bre7 commented on #112
From the Apple dev forums:

Update: If everything works from the repo, there's no need for this issue anymore. Mentioned warnings/errors are the same as #127...Closing issue.

[2015-11-04 16:27] nickoneill commented on #86
Strict mode would be an OK first step here.

Sadly, I don't see HealthKit info on the app settings screen. We would have to link to Settings > Privacy Health (not possible at the moment) or into the Health app, Sources tab.

[2015-11-05 20:35] borut-t opened #120 "Change permissions buttons text"
Is there a way to change permissions buttons text?

[2015-11-05 20:37] bre7 commented on #113
Bug: Use pretty description

[2015-11-05 20:38] bre7 opened #121 "Use pretty description in dialogs"

[2015-11-05 20:39] bre7 commented on #120
Indeed there is. The API doesn't allow to set the titles but you can use localization. Check https://github.com/nickoneill/PermissionScope#customization, last paragraph for instructions.

[2015-11-05 20:39] #120 closed

[2015-11-05 20:43] bre7 opened #122 "Add a .strings file"
Instead of copy-paste, add the file in a separate folder.

[2015-11-05 21:04] #121 closed

[2015-11-05 21:04] #122 closed

[2015-11-05 21:21] bre7 commented on #114
Mmmmh, the only issue I can see is related to CloudKit (not present in the master branch though), as status/request methods require network requests. I guess it doesn't really matter for now, there are far more important things that need to be finished before adding CK back.

[2015-11-05 21:27] nickoneill commented on #114
If we're doing the `.Pending` status for cloudkit stuff (and I think that's our best option for async permission), this makes sense. We're always calling `onAuthChange` on the main thread, always immediately, and sometimes again once we've resolved an async permission.

[2015-11-05 21:35] bre7 opened #124 "Incorrect keys in .strings file"
Update https://github.com/nickoneill/PermissionScope/blob/master/files/English.strings

* Dialogs (denied/disabled) use pretty description instead of the permission's name
 * e.g: `"Permission for LocationAlways was denied." = "";` should be `"Permission for Location was denied." = "";`

[2015-11-09 22:06] ed-mejia opened #125 "onAuthChange always return Unauthorized for Notifications"
Hi, I'm trying a very simple setup... but for some reason I always get ***Unauthorized*** response to the notifications request, I'm running on Xcode 7.1, swift 2.1 Simulator iPhone 6, iOS 9.1

Code:

[code]

Console:

[2015-11-09 22:11] bre7 commented on #125
Could you try it with a real device ?

[2015-11-09 22:20] ed-mejia commented on #125
Hi!...

Yes tested on real device, iPhone 6 iOS 9.1, same result.

[2015-11-09 22:31] bre7 commented on #125
Hi ed, Some additional questions:
1. ~~Where you prompted by PScope to allow the permission ?~~
2. Could you post a screenshot of _Settings_ -> _AppName_ ?

[2015-11-09 22:43] nickoneill commented on #125
@ed-mejia You should be using the `singlePscope.show()` method, not `requestNotifications()`... unless you don't care about the UI.

[2015-11-09 22:52] owaves-team commented on #58
I'm kind of new to open source, so not exactly sure how to document this, but there is a problem with the 'getResultsForConfig' function and cloudKit.
You should use dispatch_group_enter / dispatch_group_leave instead of dispatch_group_async.

This is because the request for the CloudKit permission status has another asynchronous call inside of it (unlike the other permissions). Therefore the disp

[2015-11-09 22:53] bre7 commented on #125
:sweat: yep, didn't even realize you were calling the request method directly...

Still, I think there's a problem with the request methods (when the intent is to call them directly): `case .Authorized: break` implies no return so onAuthChange won't be triggered

[2015-11-09 23:08] nickoneill commented on #58
Hi @owaves, glad to have you contributing.

The cloudkit stuff is still work in progress and probably a bit out of date compared to master at the moment. I _think_ we can get rid of the dispatch_group stuff when we move to a `pending` status for cloudkit, but I haven't actually worked on it yet.

I'm happy to accept a PR for changes to how the cloudkit branch works at the moment if you'd like to s

[2015-11-09 23:28] ed-mejia commented on #125
Hi @nickoneill , I don't want to display the default UI, I want to use my own, so that's the reason to use `requestNotifications()` directly, in fact thats a feature according to the docs :tada:

@bre7 That's weird despite the fact that initially returned `Unauthorized` it seems that was `Authorized` because notifications access was granted..

<img src="https://cloud.githubusercontent.com/assets/7

[2015-11-09 23:35] bre7 commented on #125
~~Request methods, currently don't trigger the onAuthChange closure...Only `show()` uses it. So, in order to return that info, we need to know whether `request..()` was called from `show()` or not and call onAuthChange if necessary~~

[2015-11-09 23:51] ed-mejia commented on #125
@bre7  I don't understand, onAuthChange is being called, and even I tap OK to allow permission the closure is called indicating that I did't granted.

[2015-11-09 23:52] bre7 commented on #125
Yeah, ignore that last comment. Call `statusNotifications()` instead of `requestNotifications()` (after granting access) and post the result

[2015-11-10 00:24] ed-mejia commented on #125
[code]

Console:

Should I use this hack?

[2015-11-10 00:26] bre7 commented on #125
Let me have a look first

[2015-11-10 01:40] bre7 commented on #125
Got it.

Cloudkit's getResultsForConfig + [owaves fix](https://github.com/nickoneill/PermissionScope/issues/58#issuecomment-155224265) fixed it. Check the new branch

**PENDING**: `show()` isn't working

[2015-11-10 02:34] ed-mejia commented on #125
@bre7 Hey I tested the new branch and seems to be working correctly now for direct requests.

Im using cocoapods, this fix is going to be merge into master? Im kind of lost how to update my project to include any update since the last release 1.0.1 is 26 commits ahead to master

[2015-11-10 02:50] bre7 commented on #125
Once we get this sorted out, nick will probably push a new version. As I said before, this fix still needs some work since `show()` isn't working

[2015-11-10 02:51] ed-mejia commented on #125
Great, Thanks!!!! :+1:

[2015-11-10 15:44] nickoneill commented on #125
Huh. I thought I had pushed a 1.0.2 version at some point... I'll figure out what to include for a new release today.

[2015-11-11 12:01] winkelsdorf opened #127 "Crash on Contacts Authorization"
Checked out accc3c4 and tested the Demo. It crashes when Authorizing the Contacts (first I denied them, then opening the Settings via the Link).

Xcode 7.1, iOS 9.1 Simulator used.

[code]

[2015-11-11 15:41] nickoneill commented on #127
Thanks @winkelsdorf, I'll take a look at this. Possibly related to the new iOS 9 Contacts framework that was pulled in recently.

[2015-11-11 15:50] winkelsdorf commented on #127
@nickoneill You're welcome! Sorry that I didn't had the time to fix/create a PR before leaving the office today. Yes, the new Contacts framework is likely the reason for the crash.

Did you also notice the detached view controller warning at the very beginning of the console output? I know why but wondering if there is a better way to present the Dialog View.. Having a look at it later this week..

[2015-11-11 15:53] nickoneill commented on #127
Yep, if you set the `viewControllerForAlerts` property to the presenting view controller, the dialog is presented in the proper hierarchy without the warning. Perhaps we should issue our own warning about this with the proposed solution.

[2015-11-11 16:06] winkelsdorf commented on #127
Excellent idea, I would say just issue a warning and point to the best practice / correct way.

Thanks for the great implementation, I first read about this approach at NatashaTheRobot's Blog some month ago (iirc) and had this implementation on my list too :)

[2015-11-11 16:13] bre7 commented on #127
Why not set viewControllerForAlerts to rootViewController ? (Check if it's a UINav and get the rootvc again)

[2015-11-14 23:18] ykobets opened #129 "Add localisation files to project"
We need localisation for this library. It would be great to have it localised inside library.
Please add localisation folders (`*.lproj`) with languages supported by iOS.

[2015-11-14 23:28] bre7 commented on #129
Hi @ykobets, PRs are welcome. As stated in the README:

Localization is implemented using the keys located in `files/English.strings`. If you want to localize it to a specific language, clone it to your project and modify the content to your liking. (Keep in mind some keys are incorrect, as per #124)

Update: If someone wants to submit a new translation, we'll add the loc folders. Closing issue fo

[2015-11-15 10:47] harryworld commented on #92
+1 My app is landscape only

[2015-11-20 14:29] #129 closed

[2015-11-21 21:55] nmccann opened #130 "ConfiguredPermissions and manual request methods"
Hi,

I'm trying to integrate PermissionScope with an existing UI for which the documentation suggests using the various `request...` methods. When doing this I initially ran into a problem when requesting notifications - my `onAuthChange` callback wasn't being called. After some digging it appears that this occurred because the `configuredPermissions` array used in `getResultsForConfig` was empty.

[2015-11-21 22:04] nickoneill commented on #130
Hey there @nmccann, thanks for the feedback.

The manual request methods are definitely the way to go here but I didn't even think people would use them in conjunction with the `onAuthChange` callback so behavior there is currently undefined. One should not have to `addPermission` before using the manual methods! We'll for sure fix this in an upcoming release. Related to #125.

[2015-11-21 22:08] nmccann commented on #130
Interesting - the "calling request\* methods directly" section of the documentation indicates that `onAuthChange` should be set.

[2015-11-21 22:10] nickoneill commented on #130
Yep, the perils of working on software with a team! Some things are just assumed to happen :) We'll fix it up.

[2015-11-21 22:11] nmccann commented on #130
lol well thank you for the quick response :)

[2015-11-26 14:39] vCrespoP opened #131 "Translate "Enable", "Allow""
Here please:

case .LocationAlways, .LocationInUse:
            button.setTitle("Enable \(type.prettyDescription)".localized.uppercaseString, forState: .Normal)
        default:
            button.setTitle("Allow \(type)".localized.uppercaseString, forState: .Normal)
        }

Thanks.

[2015-11-26 16:06] bre7 commented on #131
Same as #124

[2015-11-26 16:06] #131 closed

[2015-11-26 16:53] nickoneill commented on #131
Thanks @vCrespoP @bre7 :+1:

[2015-11-28 18:24] #114 closed

[2015-11-28 18:42] nickoneill opened #132 "Configure bluetooth power alerts in bluetooth permission config"
Similar to notifications

[2015-11-28 18:44] nickoneill opened #133 "Prototype pending status item by converting bluetooth permission"
Bluetooth is not quite as async as cloudkit is but it can still take a bit of time to complete. We should prototype how we want the pending status to work by reworking the current bluetooth implementation into this model.

[2015-11-28 18:47] nickoneill commented on #132
Whoops, this is actually #106 already

[2015-11-28 18:47] #132 closed

[2015-11-28 18:59] bre7 commented on #130
`request`/`status` methods should include the necessary parameters then: e.g. notificationCategories for Notifications, etc.

[2015-11-30 21:26] nickoneill commented on #127
@winkelsdorf I'm just getting around to finding a repro for this now. Is this the case where it crashes when you toggle the settings switch? If so, that's just how iOS works with the contacts permissions (with both iOS 8 and 9) - you get killed when your contacts permission changes.

[2015-11-30 22:11] nickoneill commented on #127
I just tested `viewControllerForAlerts` as well and it actually presents _behind_ the pscope window. Obviously not what we wanted. Did you see the correct behavior after that fix @winkelsdorf?

Just for reference: we manually insert the pscope view into the top of the window view hierarchy which is why presenting on the app view controller shows behind the pscope view. Presenting from the pscope v

[2015-12-07 15:32] ky1ejs commented on #110
@nickoneill @bre7 it's been a long time since last release. Can one be expected soon? :)

[2015-12-07 15:37] bre7 commented on #110
If I'm not mistaken, 1.0.2 will include some bug fixes: #125, #127...[among others](https://github.com/nickoneill/PermissionScope/milestones/1.0.2)) I haven't had the time to check them out lately.

[2015-12-07 15:51] ky1ejs commented on #110
Awesome, thanks @bre7! Any idea when we can expect 1.0.2? The bug fixed by #114 would be particularly nice to have. I was slightly confused by this, since I thought I'd fixed it with PR #100.

[2015-12-07 15:53] nickoneill commented on #110
Hey @kylejm, we'll get 1.0.2 out the door this week. Sorry for the wait.

[2015-12-07 15:54] ky1ejs commented on #110
Sweet! Legend!

[2015-12-07 16:47] #112 closed

[2015-12-10 05:04] jstheoriginal opened #137 "App Uploaded to TestFlight Doesn't Have Notification Settings..."
I uploaded a version of the app for internal testing and the notifications are gone and the popup only said "Denied" right off the bat. If I got to Settings there are no settings for notifications.

When I tested it from Xcode as a build it worked fine...I did have to add a Build Phase Run Script though to make it upload correctly on TestFlight as Apple rejected it at upload time due to the follow

[2015-12-10 16:13] nickoneill commented on #137
Hey @jstheoriginal, I haven't seen this sort of behavior before. Where did you find the script to "fix" this issue?

Most ways you can fetch this repo are _not_ prebuilt, so the complaint about unsupported architectures may lay somewhere in your build process.

How did you download and integrate PermissionScope with your project?

[2015-12-10 16:22] bre7 commented on #137
It looks like he downloaded the ...framework.zip from the release

[2015-12-10 16:59] nickoneill commented on #137
Yeah, that was my suspicion as well.

[2015-12-10 18:29] jstheoriginal commented on #137
I used Carthage...so it is a .framework file. I wanted it to be simple to upgrade which is why i chose that route.  I guess I should just fork it and implement it that way instead?

[2015-12-10 18:32] nickoneill commented on #137
Yes @jstheoriginal, but it should be building the framework from xcode, not just using a prebuilt framework it finds. I was under the impression that the framework zip for releases would only be used for test running by Carthage (and those archs should be fine for test running). Perhaps that has changed and Carthage is pulling the zipped framework for building now?

@kylejm You seem to be our resi

[2015-12-10 18:35] jstheoriginal commented on #137
this is what it shows in my Carthage folder:

https://www.dropbox.com/s/uka1vaghhlfi7vw/Screenshot%202015-12-10%2012.35.25.png?dl=0

[2015-12-10 18:42] jstheoriginal commented on #137
And thanks @nickoneill I just did the non-framework way and got it to build fine so i'll submit that version in my next test flight build.

[2015-12-10 18:42] jstheoriginal commented on #137
(I ran a checkout for Carthage instead of build)

[2015-12-10 18:49] nickoneill commented on #137
Great to hear @jstheoriginal, I'll keep this issue open until I can figure out how to prevent this from happening to other carthage users.

[2015-12-10 19:16] jstheoriginal commented on #137
Maybe the issue was that I added it via Carthage when I was using a beta build of Xcode?

[2015-12-11 04:48] jstheoriginal commented on #137
Some strange stuff happening still. I uploaded a new build to TestFlight and the new one still says DENIED NOTIFICATIONS with no Notification options in Settings, BUT the same build on the simulator is fine.  See two pics of same instance.  What could be the issue?

<img src="https://cloud.githubusercontent.com/assets/5117473/11736119/ea3d19b2-9f8f-11e5-8c4f-3844fe72034e.png" height="300"> <img sr

[2015-12-11 04:52] bre7 commented on #137
Similar to #69 ? Should've been fixed.

[2015-12-11 05:32] jstheoriginal commented on #137
So pretty sure I'm a complete n00b and didn't know I needed to use a production push notification certificate for TestFlight builds :-1: so i believe that's what the issue is! We'll see.

[2015-12-11 09:21] ky1ejs commented on #137
@nickoneill that's not the case with Carthage, it will always download the `.zip` attached to a release if it can. To stop this behaviour, use the `--no-use-binaries` option :blush:.

Hope you've found the fix @jstheoriginal :pray:.

[2015-12-13 19:08] jstheoriginal commented on #137
I'm still having issues with this...

the first time i load the app it looks like the first screen of the two i posted above. If i click Allow Notifications, it doesn't present the actual iOS pop-up but the pscope pop-up goes away. If i then go to settings, it shows notifications are enabled. But then if i close the app and go in again, it pops up again with the second screen above and there are n

[2015-12-13 20:24] bre7 commented on #137
Try again, but first reset the simulator. I'm not sure how can a permission be enabled/disabled in settings without using the iOS system alert.

[2015-12-13 20:29] jstheoriginal commented on #137
I think these issues may be linked to the fact that I'm also using iCloud sync...so It's syncing my notification settings for the app and then screwing it up/making conflicts?

[2015-12-13 20:31] bre7 commented on #137
Try disabling it and testing Notifications without it

[2015-12-13 22:32] nickoneill commented on #137
Is that really a thing that happens? It does make some sense that it's related to iCloud, this is similar behavior that we see when incorrectly dealing with async permissions.

[2015-12-13 22:47] jstheoriginal commented on #137
yup...confirmed that that was the issue. it was syncing ALL iCloud NSUserDefaults instead of just select keys for my app. Bad bad bad. I've got it fixed now, so I think this can be closed.

[2015-12-13 22:47] #137 closed

[2015-12-14 04:37] jstheoriginal opened #139 "Assertion Failed: Permission for Notifications already set."
I am getting this error that causes my app to crash: assertion failed: Permission for Notifications already set: file /Users/Justin/Dropbox/Programming/iOS/MyApps/BBLinks/BBLinks/Helpers/PermissionScope/PermissionScope.swift, line 301

line 301 is:

[code]

It's happening if I've already gotten permission, but for some reason the app is trying to call it again. Is there a way to prevent this? TIA.

[2015-12-14 04:40] bre7 commented on #139
Is the code that adds the permission in viewDidAppear by any chance ?

[2015-12-14 04:44] jstheoriginal commented on #139
I called my "askForPermissionScope" function from the completion block of a delegate, but on an asynchronous thread.  That might be it? I've moved it back on to the main thread to see if that fixes issues.

[2015-12-14 04:47] bre7 commented on #139
Paste the code that calls `addPermission` if u can

[2015-12-14 04:51] jstheoriginal commented on #139
Originally I had:

[code]

Here's how I have it now to see if it fixes it (so far so good).

[code]

and this is the askForNotificationPermission function:

[code]

[2015-12-14 17:06] nickoneill commented on #139
@jstheoriginal Set your options for pscope once (addPermission, closeButtonTextColor, etc) in viewDidLoad. Then `.show` when you want to present.

[2015-12-14 20:12] jstheoriginal commented on #139
Ah that makes sense! Will do.

[2015-12-14 20:28] bre7 commented on #139
Closing the issue. If the problem persists, reopen.

[2015-12-14 20:28] #139 closed

[2015-12-15 10:12] tmspzz commented on #110
@nickoneill any estimate on this?

also I'm getting this when building with carthage

[code]

Thanks for the great work!

[2015-12-15 10:14] ky1ejs commented on #110
@blender this is because you don't have a distribution signing cert and key on your machine.

@nickoneill I think we should change the signing identity back to be `iOS Developer` just in case any developers that don't have Apple Dev accounts want to use it

[2015-12-15 10:26] tmspzz commented on #110
yes, I don't have a distribution certificate. I agree with @kylejm , if possible please changed it to `iOS Developer`.

This is the only framework among the many I use (Alamofire, KeyChainAccess, ResearchKit, Swiftz) that requires a distribution certificate.

I have opened an issue for this https://github.com/nickoneill/PermissionScope/issues/140

[2015-12-15 11:38] blender opened #140 "Change signing identity to iOS Developer"
At the moment it is not possible to build for device without a valid ``iPhone Distribution`` certificate

I suggest changing this to ``iOS Developer``. The framework will be resigned anyways with the correct identity once copied into an application bundle.

[2015-12-16 02:33] jstheoriginal commented on #139
I've had this crash happen again after making the change @nickoneill suggested.

[code]

this happened after

[code]

displayed.

[2015-12-16 02:38] bre7 commented on #139
Seems to be the same issue. You can't add the same permission twice.

[2015-12-16 02:45] jstheoriginal commented on #139
it’s really strange…i only add the notification in viewdidload.  but i’ve tried to reproduce the crash and it doesn’t happen again. it must be some sort of edge case…

[2015-12-21 10:46] ky1ejs commented on #110
@nickoneill @bre7 how's it looking for looking for the next release?

[2015-12-21 20:31] nickoneill commented on #110
Sorry @kylejm, busy time of year. I'll work on this today and report back with what else needs to get done before we can get a release out the door.

[2015-12-21 20:45] nickoneill commented on #140
Thanks for the PR @blender! This'll be released as part of 1.0.2

[2015-12-21 20:45] #140 closed

[2015-12-21 20:54] nickoneill commented on #107
This is only called if the peripheral state is `Unknown` which is exclusive of knowing if the peripheral is on/off. I don't see a huge issue here other than the error message, so punting this until we refactor bluetooth to pending status in #113.

[2015-12-21 20:55] nickoneill commented on #106
Merged the fixes that default this to off. If we need an option for this, it can be handled with #113.

[2015-12-21 20:55] #106 closed

[2015-12-21 21:03] nickoneill commented on #124
Fixed in 9544e7405094791aa0fb09f06888e37c6d400e50

[2015-12-21 21:03] #124 closed

[2015-12-22 01:15] nickoneill commented on #125
@ed-mejia I couldn't reproduce a problem where notifications were reporting the incorrect status, though I did encounter an issue where `onAuthChange` won't be called if notifications are already authorized.

Can you test with `:head` and tell me if this is reproducible for you still?

[2015-12-22 01:16] nickoneill commented on #110
I'm waiting to hear back on #125 with some updated changes. If that's resolved then we'll move ahead with 1.0.2 in the next day or so.

[2015-12-22 08:09] afiq90 opened #142 "How to use this awesome library in objective c?"
Hey guys, I'm wondering How to use this awesome library in objective c? thank you in advance

[2015-12-22 08:38] afiq90 commented on #142
I figured it out by watching this video https://www.youtube.com/watch?v=OvDk5zXCFe8. thank you for great library.

[2015-12-22 08:38] #142 closed

[2015-12-22 12:13] ky1ejs commented on #110
Awesome, looking forward to it :blush:

[2015-12-22 12:20] ed-mejia commented on #125
Hi @nickoneill, I was able to recreate the issue again,

Update pod from master, my pod config is just like:

[code]

On Simulator: Reset content and settings

My Controller code:

[code]

the console output after granting the permission:

[code]

[2015-12-22 16:04] nickoneill commented on #142
Hey @afiq90, glad you figured it out. Let us know if you have any other questions.

[2015-12-22 16:54] nickoneill commented on #125
Thanks for the excellent repro steps @ed-mejia, I can see the issue you're having now.

Can you try again with the most updated pscope code? Use this in your podfile:

[code]

And `pod install` again

I tested with a fresh project and the issue appears with our 1.0.1 version and fixed in the upcoming 1.0.2. Please let me know if you see anything different.

[2015-12-22 22:35] BryanRyczek commented on #110
hey guys I am new to Carthage and PermissionScope is my first Carthage install.

I am running Swift 2.1.1 and Xcode 7.2

In the top of my .swift file, I write 'import PermissionScope'  which autocompletes so I know the compiler is expecting its possible use.

However, I get kicked this fatal error:

AnimationTestingViewController.swift:11:8: Module file was created by an older version of the compi

[2015-12-22 22:39] nickoneill commented on #110
Hey @BryanRyczek, this is a known issue with PermissionScope right now (see #137), you can fix it immediately by using the `--no-use-binaries` option in Carthage. We'll fix it for our upcoming 1.0.2 release.

[2015-12-23 02:33] ed-mejia commented on #125
@nickoneill  I don't think the fixed code is in the repository or I'm doing something wrong :confused:

I just create a fresh new project to be sure:

Xcode 7.2, Apple Swift version 2.1.1

My pod file:

[code]

run pod install, console output:

[code]

Opened the project run and test again same console output after permission being granted:

[code]

I attached the project here:
[PermTest.zip](http

[2015-12-23 02:48] bre7 commented on #125
Try

[code]

Is it still `Unauthorized` and `Authorized` ? #126 fixes the issue related with direct calls iirc but `show()` won't work.

[2015-12-23 02:51] ed-mejia commented on #125
@bre7 Yes the results are:

[code]

[2015-12-23 03:42] nickoneill commented on #125
Here's what I'm seeing with your project @ed-mejia:
• First time run on a fresh sim: **Unauthorized**
• Subsequent runs on sim with same bundle id: **Authorized**
• First time run on sim with new bundle id (existing sim): **Authorized**
• First time run on iOS 8 device: **Authorized**
• First time run on iOS 9 device: **Authorized**

I'm nearly ready to chalk this up to simulator weirdness (not th

[2015-12-23 09:17] ed-mejia commented on #125
@nickoneill  I just ran the project on an iPhone 6 iOS 9.2 for the first time and the results were not successful just after calling requestNotifications for the first time:

[code]

So it's not a simulator issue, if you call requestNotifications again the results are ok, but its wrong from the beginning.

[2015-12-23 09:42] ed-mejia commented on #125
I just tried to run the same project again with different bundle ids on the same device and the results were ok despite the fact the first time were wrong....

I took another iPhone 6 and I ran the project again for the very first time on that device and the results were:

[code]

So at the very very first time the app runs on the device it returns a wrong value, considering that the request of pe

[2015-12-23 15:56] nickoneill commented on #125
Alright, back to the drawing board then. I'll run through the code again and see if I can spot a race condition.

[2015-12-31 01:23] denismars commented on #127
I can repo the same crash issue with both toggling the Contacts and the Bluetooth switches in the Settings. Changing the Notifications and Locations settings did not crash it - only the toggle switches seem to crash or terminate the app.

But before it crashes I see this error when the transition to the Settings app starts:
_BSMachError: (os/kern) invalid capability (20)
_BSMachError: (os/kern) in

[2015-12-31 03:29] nickoneill commented on #127
Hey @denismars, that crash isn't something we can control. Any app will crash when toggling the Contacts permissions.

[2016-01-05 13:09] testudorithm opened #143 "Embedded Binaries signing problem"
I added the framework as a embedded binary.. But when i make archive the framework does not signing via my provisioning profile. What is the problem ?

![error1](https://cloud.githubusercontent.com/assets/12956798/12115937/b6586622-b3be-11e5-90e1-e9b49272dd11.png)

![error2 copy](https://cloud.githubusercontent.com/assets/12956798/12115967/eb45a822-b3be-11e5-88e0-adb01735b0e7.png)

[2016-01-05 16:47] nickoneill commented on #143
Hey @testudorithm, in your project under Targets > Build Phases, is PermissionScope marked as a dependency?

[2016-01-05 17:18] ghost commented on #143
no i add to project like this,

![screen shot 2016-01-05 at 19 17 22](https://cloud.githubusercontent.com/assets/12956798/12121972/08b85554-b3e1-11e5-9fa8-651c6308e652.png)

[2016-01-05 17:19] nickoneill commented on #143
Is this a manual integration as opposed to cocoapods or carthage?

You should add PermissionScope to the dependency list as well if it's manual.

[2016-01-05 17:24] ghost commented on #143
i get the framework in example project, and i add to embedded binaries also add Build Phases>Copy Files

[2016-01-05 17:29] nickoneill commented on #143
I would _highly_ encourage you to use one of the other integration options because they do the hard work for you.

If you must integrate manually like you're doing now, add the project as a dependency in your Build Phases, and make sure 'Code Sign on Copy' is checked in your Copy Files phase.

[2016-01-05 17:35] ghost commented on #143
![screen shot 2016-01-05 at 19 33 12](https://cloud.githubusercontent.com/assets/12956798/12122397/5d601f68-b3e3-11e5-8ae6-8a3927d4b0f5.png)

![rerr2](https://cloud.githubusercontent.com/assets/12956798/12122422/8f7a9442-b3e3-11e5-89ae-181659cc9835.png)

When i try adding as a dependency, i does not see the framework in selection

[2016-01-05 17:47] nickoneill commented on #143
Oh, you just grab the framework rather than the project.

Instead of using the framework, drag the permissionscope project file into your project and take the same steps. This'll build the framework and include it for you.

[2016-01-05 19:52] ghost commented on #143
Okay thanks :-)

[2016-01-07 13:05] JanC opened #144 "Crash when integrated with Carthage"
Hi,
I'm not sure if this is directly a PermissionScope issue but I ask anyway. I integrate the library using Carthage in a Objective C project and when I run the project, it crashes on

[code]

The stack trace is kind of weird:

![screen shot 2016-01-07 at 2 01 10 pm](https://cloud.githubusercontent.com/assets/707703/12171101/68ff504a-b547-11e5-819b-7ce8a7cae8b3.png)

Here is a sample project that

[2016-01-07 16:47] nickoneill commented on #144
Hey @JanC, that's pretty strange! I noticed that if you remove that line adding the permission and just call `show`, you get an error related to not being able to find the permissionscope lib file. This might be related to how you integrated with Carthage? My small check seemed to indicate you followed the steps correctly but it doesn't seem like the library is being correctly copied into that sam

[2016-01-07 21:53] JanC commented on #144
That worked 👌awesome!

[code]

thanks for the great library btw (Pantry as well 😉)

[2016-01-07 21:54] nickoneill commented on #144
:+1: !

[2016-01-07 21:54] #144 closed

[2016-01-14 03:59] mingmingsuper opened #145 "why "Hey, listen!" whitout .localized"
why headerLabel.text = "Hey, listen!"  without .localized?

[2016-01-14 03:59] mingmingsuper commented on #145
I'm use pod install

[2016-01-14 04:01] mingmingsuper commented on #145
I want to use local language Chinese,I hope you help me,Thanks!

[2016-01-14 11:28] chiliec commented on #145
Because it's not a common phrase and you may change it as you want.

[code]

[2016-01-14 15:29] mingmingsuper commented on #145
[code]

let pscope = PermissionScope()
pscope.headerLabel.text = "嘿，听着！"

—Reply to this email directly or view it on GitHub.

[2016-01-14 15:56] nickoneill commented on #145
Thanks @Chiliec!

[2016-01-14 15:56] #145 closed

[2016-01-14 19:39] #113 closed

[2016-01-14 19:41] nickoneill commented on #113
All set here. Please give it a shot and see if you like it @rlaferla!

[2016-01-14 19:44] nickoneill commented on #125
@ed-mejia We were going through the `detectAndCallback` cycle (requesting status from each of the permissions) in the notification observer callback which apparently isn't long enough after accepting permissions for that change to be reflected in `currentUserNotificationSettings`.

I've moved the `detectAndCallback` cycle into an async block, similar to how we call it when you request via the UI.

[2016-01-14 19:46] nickoneill commented on #127
At this point I don't believe `viewControllerForAlerts` works as expected. I'm planning on removing it in 1.1 since no one else has weighed in.

[2016-01-14 20:00] winzig commented on #127
Sorry, I just saw this thread now. I've not had any problems using viewControllerForAlerts, I'm reading through this discussion now and am not clear on how it pertains to the crash related to Contacts authorization? If you remove viewControllerForAlerts, how will we be able to call the request\* methods directly, since if PS needs to show a view, it won't be able to put it into the hierarchy corre

[2016-01-14 20:06] nickoneill commented on #127
Hey @winzig, It's not related to the Contacts crash, you can safely ignore.

Here's what I was seeing when I set `viewControllerForAlerts`: the pscope UI showed up OK, but then clicking on a permission showed the native permissions alert _behind_ the pscope window.

Normally these native alerts are presented on top of the pscope view which works, despite giving a "don't present view controllers on

[2016-01-14 20:23] #143 closed

[2016-01-14 20:24] nickoneill opened #146 "1.0.2 Release"
The long awaited release comes. Please check it out with your respective projects and let me know if anything is wonky.

https://github.com/nickoneill/PermissionScope/releases/tag/1.0.2-beta

@bre7 @kylejm @evermeer @winkelsdorf @blender @felix-dumit @rlaferla

[2016-01-14 20:36] ky1ejs commented on #146
HHELLLLL YYEAAAAHHHHH!

![giphy-6](https://cloud.githubusercontent.com/assets/3501212/12336832/778eedb6-bafe-11e5-819f-2ba9acfe3948.gif)

[2016-01-14 21:06] felix-dumit commented on #146
I have made some minor changes to my branch in order to get it to work with my app, mainly related to bluetooth, I'll push a PR so you can take a look and see if it's in the scope of this release
Edit: #147

[2016-01-14 22:19] winzig commented on #127
Strange! I hadn't seen that behavior in our app (iOS 8/9) and we're doing mostly the direct request\* calls. I have always felt the way I had proposed (setting that vc directly) felt a bit hacky, but seemed like a different solution would require more of a re-architecting of how this project works than I would have been comfortable suggesting. ;-)

[2016-01-14 22:44] rlaferla commented on #113
Nice!

[2016-01-14 22:50] nickoneill commented on #127
For clarity, I'm going to resolve this and create a new issue. I am fascinated that you haven't seen the same thing @winzig, but I'm sure I reviewed it when you made the original PR and I didn't see any weirdness then either.

Still, avoiding this in the first place is the way to go!

[2016-01-14 22:50] #127 closed

[2016-01-14 22:51] nickoneill opened #148 "Rework presentation method to avoid improper usage of view controllers"
Most of the discussion about what's wrong is in #127. Short version:

[2016-01-16 05:50] ed-mejia commented on #125
@nickoneill I used the test project that I attached here [PermTest.zip](https://github.com/nickoneill/PermissionScope/files/70409/PermTest.zip) .. updated Pod to head, run and still :sob:

[code]

I did simulator reset, change bundle identifier, no luck

PD: Sorry I closed the issue by mistake.

[2016-01-16 17:56] nickoneill commented on #125
Shit. Same deal with the test project and 1.0.2beta, I'll try again. At least we know where the issue is at this point.

[2016-01-18 21:44] winkelsdorf commented on #127
@nickoneill Sorry for the late reply. I'll implement this into a test project asap and have a look into it too. But from my point of view #148 is the safest thing to do.

[2016-01-20 20:35] nickoneill commented on #125
@ed-mejia

Opted for a slight different approach, now we just straight up delay 0.1s after `finishedShowingNotificationPermission` comes back from the permissions dialog. Please test and let me know what you find, it worked using your PermTest project and erasing simulators for me. I didn't update the tag so be careful when updating the pod, I couldn't get it to update to the newest commit (d23217

[2016-01-24 04:40] ed-mejia commented on #125
Hey @nickoneill I can confirm that the onAuthChange callback is now returning the right value after authorising:

[code]

:tada: :smiley:

[2016-01-28 22:03] nickoneill commented on #125
Awesome :) Releasing here soon...

[2016-01-28 22:03] #125 closed

[2016-01-28 22:13] nickoneill commented on #110
Should be set here with the proper 1.0.2 release.

[2016-01-28 22:13] #110 closed

[2016-01-28 22:13] nickoneill commented on #146
All set with this release! @felix-dumit, we'll tackle this for the next one.

[2016-01-28 22:13] #146 closed

[2016-02-10 20:39] nanek opened #149 "Unable to set headerLabel or bodyLabel from ObjectiveC"
I'm unable to set headerLabel or bodyLabel from ObjectiveC.

[2016-02-10 21:34] bre7 commented on #149
Because they are constants instead of variables :) Thanks for the heads up.

[2016-02-10 22:18] AdventuresOfMar opened #150 "Results always return as Unauthorized"
Hello I hope all is well,

I'm not quite sure how to explain my current issue but here's my attempt; bare with me: Currently I followed the steps adding permissionScope into my cocoapod file then followed the suggested steps on setting up permission scope. My issue is that once the permission scope pop up occurs if I click "Allow ____"  my button automatically turns orange and reads"Denied Camera"

[2016-02-11 01:08] #149 closed

[2016-02-11 02:08] AdventuresOfMar commented on #150
Not sure what was happening but simply deleted and reinstalled pod, works perfectly thank you

[2016-02-12 17:05] nickoneill commented on #150
Thanks for the followup @AdventuresOfMar, glad it's working for you.

[2016-02-12 17:05] #150 closed

[2016-02-15 18:08] JanakLN opened #153 "Crash on location permission"
![screen shot 2016-02-15 at 1 07 15 pm](https://cloud.githubusercontent.com/assets/7457258/13056731/28c3b9c8-d3e5-11e5-9fb1-ac1bfa387769.png)

[2016-02-15 18:27] nickoneill commented on #153
From the readme:

[2016-02-15 19:04] bre7 commented on #153
As the assert message says, you need to set up the proper keys.

[2016-02-15 19:04] #153 closed

[2016-02-20 04:21] jimmyzzzzzzz opened #155 "How to use localization file?"
Hello, I installed PermissionScope with Pods. the .strings files are not included. where should I place German.strings file if I want it to localize it to German?

[2016-02-20 12:20] bre7 commented on #155
You need to download it and add it to your project. Eg: http://www.raywenderlich.com/64401/internationalization-tutorial-for-ios-2014

[2016-02-20 22:07] jimmyzzzzzzz commented on #155
Hi, thanks for the link explaining how localizable strings work.  However, my project has a different structure, I tried to follow the tutorial but it doesn't apply to my project.
I have 2 projects in my workspace, one is Pods and the other is my own project. Should I put Localizable string it in Pods/PermissionScope or my own project?

[2016-02-20 22:10] bre7 commented on #155
Your own

Edit: Closing issue for now

[2016-02-25 02:00] #155 closed

[2016-02-25 13:20] dukemike commented on #86
Can you provide an update on HealthKit integration or provide a reference to a branch where there is a partial implementation?

[2016-02-25 13:37] bre7 commented on #86
No ETA since there are more important things that need to be implemented first (API rework, pending status, etc)

[2016-03-11 14:46] basememara opened #157 "Get list of added permissions and remove when needed?"
Great plugin, it works beautifully! Thanks for sharing!!

I noticed that `configuredPermissions` is not public, but I need to get a list of added permissions. The reason is because location services is optional in my app. If they choose to use GPS in my app, then my added permissions are fine.

However, if they decide not to use GPS in my app anymore and turn it off, I need to remove the location

[2016-03-11 19:39] nickoneill commented on #157
I wouldn't attempt to remove the permissions based on what users have already accepted, but you should definitely reconfigure PermissionScope to only ask for the permissions that your app wants. If the user turns off a GPS feature in your app, simply don't configure PermissionScope with the location permission next time.

[2016-03-11 23:50] basememara commented on #157
The `PermissionScope` instance is already configured for the user based on their settings (with or without GPS), but if the user changes their settings, then the `PermissionScope` instance is stuck on the old permissions.

I am calling `show` in `viewWillAppear` to ensure the user always provides the right access for the user. That's when I'd like to re-configure `PermissionScope` based on the use

[2016-03-14 16:12] nickoneill commented on #157
I don't think there's anything wrong with recreating the PermissionScope object on `viewWillAppear` in your case. The whole thing is very light and the impact of recreating it is probably negligible.

[2016-03-14 16:18] shfishburn commented on #52
An iOS app ought to be implemented such that functionality degrades gracefully when a particular recommended permission is denied by the user. For example, if using a map with points of interest can only show user location with that permission granted, the map should still show but not be able to center on user location. That said, every so often, the app should remind the user that he or she is n

[2016-03-14 18:46] basememara commented on #157
Cool thanks for the confirmation. I found one better than brute-force, in my settings screen I'm running this when the GPS setting is changed/saved by the user:

[code]

Then in the `viewWillAppear` in my `TimesController`, I'm recreating the `PermissionScope` instance if it is `nil` and dynamically adding the permissions back based on the latest user settings from `NSUserDefaults`. Works great!

[2016-03-14 18:46] #157 closed

[2016-03-22 16:58] chrismanderson opened #158 "Upload a new release built with Swift 2.2 for Carthage"
Getting the `Module file was created by an older version of the compiler error` when building PermissionScope via Carthage.

Seems to be a similar issue to https://github.com/nickoneill/PermissionScope/issues/110.

I was still able to build with the `--no-use-binaries` flag in Carthage.

[2016-03-22 17:00] bre7 commented on #158
Yeah, the archive uploaded was built using swift 2.1 and there's a note in the readme about it.

[2016-03-22 17:11] nickoneill commented on #158
Thanks @chrismanderson, please use `--no-use-binaries` for now and we'll upload a new binary (or not! this process is getting frustrating) with the next release.

[2016-03-22 17:13] bre7 commented on #158
Carthage auto-archive ?

Edit: More info here [https://github.com/facebook/ios-snapshot-test-case/issues/81](https://github.com/facebook/ios-snapshot-test-case/issues/81) and [Use travis-ci to upload your tagged prebuild frameworks](https://github.com/Carthage/Carthage#use-travis-ci-to-upload-your-tagged-prebuild-frameworks)

[2016-03-22 17:15] chrismanderson commented on #158
Keeping up with Xcode releases is frustrating? That's totally the first time anyone has ever said that. :grinning:

Thanks for that information, appreciate it.

[2016-03-22 17:18] nickoneill commented on #158
@chrismanderson No, just reuploading new binaries for Carthage when nothing has changed. Makes me rethink the benefits from having uploaded binaries in the first place.

@bre7 We'd then be dependent on Travis to support new Xcode releases. I wonder if we can just rebuild with Xcode 7.3 and add to the old release?

[2016-03-22 17:19] bre7 commented on #158
Yes, you can add a new archive to an old release

[2016-03-22 17:19] nickoneill commented on #158
OK, will give that a shot later today.

[2016-03-28 14:54] bre7 commented on #158
Archive uploaded. Warnings will be fixed in next version (pr #159)

[2016-03-28 14:54] #158 closed

[2016-03-28 15:48] nickoneill commented on #158
Thanks for uploading this @bre7! It's weird that I can't find a record of a changed release binary anywhere in github, right?

[2016-03-28 15:51] bre7 commented on #158
True, there's no "uploaded date" in the release panel though it's part of the api https://api.github.com/repos/nickoneill/PermissionScope/releases/2512203.

BTW, it's easier to use this tool to upload files to releases: https://github.com/aktau/github-release

[2016-03-30 04:37] trozware opened #160 "_BSMachError: (os/kern) when going to Settings"
If permission is denied and the "Show Me" dialog button is tapped to go to Settings, the console shows 2 errors:

[code]
This can be solved by using `dispatch_after` or `dispatch_async` on the main queue to open the Settings URL.

[2016-03-30 15:27] nickoneill commented on #160
Ah, thanks for the tip @trozware! I'll work this into an upcoming release.

[2016-04-04 10:32] winkelsdorf commented on #160
Maybe related to the project's `"Localization native development region"` in `info.plist`: http://stackoverflow.com/a/33465083/844907.

Anyhow, I cannot comment on the above ("en" is the default and should work).

For me it looks like an iOS bug, it is trigger by UIApplication.sharedApplication().openURL(settingsUrl!) when invoked by a handler.

Now the fun part, "fixing" it:

Current Call:

[code

[2016-04-04 10:39] winkelsdorf opened #163 "iPad Split View Bug"
Hi Nick,

just stumbled upon this nifty bug with the Demo playing with iPad Split View:
<img width="1136" alt="screenshot 2016-04-04 12 03 35" src="https://cloud.githubusercontent.com/assets/1413291/14245431/8cac342c-fa61-11e5-9211-e922144e02ae.png">
<img width="1136" alt="screenshot 2016-04-04 12 03 51" src="https://cloud.githubusercontent.com/assets/1413291/14245430/8caa3ee2-fa61-11e5-9e05-a5ee3

[2016-04-04 21:56] nickoneill commented on #163
Thanks for this! We're going to swap this to a proper modal presentation at some point in time (#148) and it might be entirely resolved by that. If not, we'll tackle afterwards.

[2016-04-06 07:47] winkelsdorf commented on #163
You're welcome! Ah yes, forgot about that.. Reference to this is kept in #148, closing this for now.

[2016-04-06 07:47] #163 closed

[2016-04-15 10:16] quocan2812 opened #165 "[bug]UI-less permission"
When I click UI-Less Permission, and choose not allow, and I click it again, nothing show me how to open setting, and the log:<UIAlertController: 0x7f9bcbd7f4d0> on <PermissionScope.PermissionScope: 0x7f9bcc061600> whose view is not in the window hierarchy!
Expected show me alert and help me open my setting.

[2016-04-15 12:07] bre7 commented on #165
Same as #130 ?

[2016-04-20 18:22] nickoneill commented on #165
This is related... but I'm not sure it's a feature that we want. Let me get this straight, @quocan2812, you want to use UI-less methods for requesting the permission but then you want the alert UI if it's disabled?

I think you've got to go in one direction or another here. Either you use the PermissionScope UI and get all the features, or you use the UI-less requests and write your own UI. It wou

[2016-04-28 02:29] quocan2812 commented on #165
thanks for reply,
yes I wrote code for my UI show alert when user not allow or disable this, and move it to setting, I open issue because I want to make your lib more comfortable, Thanks for all ^^

[2016-04-28 02:29] #165 closed

[2016-05-04 14:53] tuxtux59 opened #168 "Handling restart of app after switching permissions"
Hi,
I'm facing a problem but this issue could be like a question.
When user access to device settings to switch permissions and back to the app, the app restarted without keeping it's state.
So if user was in a deep state of the app he has to go back to this deep state to continue the process i tried to do before app ask him to allow some permissions.
Is there a code for permissionscope to let app

[2016-05-04 14:59] bre7 commented on #168
Hi tux,

Why not just call `show()` again ? PScope will just need to re-check the configured permissions' current status

[2016-05-05 00:46] BallerChan opened #169 "Transitive Dependency issue caused by pod install"
I am trying to use this cool pod; however, I am unable to even integrate it into my project with the installation instructions. The use_frameworks! line is deleting a bunch of other pods and creating transitive dependency issue. I have the platform set to 8.0.

Executing pod install in terminal gives me the following error:

This causes the entire app to be unusable since many of the project files

[2016-05-05 00:50] bre7 commented on #169
That's related to Google Analytics & CocoaPods. I'm pretty sure they fixed that problem some time ago. Check stackoverflow. Just in case, be sure you have the latest version of CocoaPods.

Closing the issue for now.

[2016-05-05 00:54] #169 closed

[2016-05-12 11:56] ogezue opened #170 "Bug with MotionPermission"
I'm trying to use PermissionScope with Objective C and configure it to request for Motion, Location and Notification. I get a non deteministic behavior.

Sometimes PermissionScope is displayed after I open the UI a second time. Sometimes I'm in an endless loop of `private func triggerMotionStatusUpdate() {}` that gets called in   ` self.permissionScope = [[PermissionScope alloc] init];`. This resu

[2016-05-17 07:46] tuxtux59 commented on #168
My problem is that show is called from a deep screen of the app ( like third or fourth screen) so I can't call show() again from a restart of the app due to haven't the previous behavior.
I hope  this is understandable !

[2016-05-17 16:17] nickoneill commented on #168
Permissionscope doesn't manage the state of your app so we can't restore it to the state where you left off when changing something like contacts permission. Luckily this only occurs if a user denies contacts permissions and then has to re-enter settings to turn it on, not on the initial ask.

[2016-05-17 16:17] #168 closed

[2016-05-18 17:53] nickoneill commented on #170
Possibly a similar case to #147? Looks like you're doing things correctly so likely some issue with the async motion request.

[2016-05-25 01:42] akofman opened #171 "[Feature]: add animation effects"
Hello,

Thanks for your awesome work !
It Would be nice to add some animation effects and the availability to configure it from an other custom properties. What do you think ?

[2016-05-25 16:38] nickoneill commented on #171
Hi @akofman - what were you hoping to animate and in what style?

[2016-05-25 16:53] akofman commented on #171
I mean, the dialog is sliding from top to bottom by default when appearing. I'd like to change this behaviour, like adding some bounce effect for instance,  or just disable it.

[2016-05-25 17:07] nickoneill commented on #171
Great, so this is going to be tightly coupled with the work in #148 to make the presentation a standard view controller. After that's done, you should be able to define your own transition animation delegate and do whatever animation you want.

[2016-05-25 17:16] akofman commented on #171
It sounds awesome :+1: Thanks for your reply.
And by the way I'm implementing a Cordova plugin that wrap your work. It's in progress ... just to let you know : https://github.com/akofman/cordova-plugin-permissionScope

[2016-05-26 02:18] nickoneill commented on #171
That's great, thanks @akofman! I'll update this issue when we tackle #148

[2016-05-29 15:38] basememara commented on #86
Hey thanks for the awesome library and to everyone here helping with the HealthKit stuff!

I was sad to see HealthKit ripped out, although I understand about the App Store issues with non-HealthKit apps. Could it have been mitigated if we used compiler flags so the HealthKit API's don't get compiled into the app unless explicitly set?

Also, I couldn't find the ongoing work on the HealthKit suppor

[2016-05-30 22:57] nickoneill commented on #86
Thanks for the work @basememara, I'm not convinced that healthkit permissions belong in permissionscope because of 1) the incredible granularity of healthkit options vs the simplicity of pscope showing only three on/off permissions and 2) the lack of similar conveniences to the rest of the permissions (i.e. being able to direct users to the settings screen). I believe we can handle the HealthKit a

[2016-05-31 12:37] dukemike commented on #86
@basememara, unfortunately, HealthKit simply doesn't allow you to mimic PermissionScope-like features. I tried doing the same thing as I expect you have, but came to the same conclusion as @nickoneill that it needed ripped out. As he described, some major problems you'll run into are that:
- HealthKit does not allow you to query whether or not read permissions have been granted, only whether or no

[2016-05-31 13:08] basememara commented on #86
I really appreciate the wisdom and sharing the battle scars. HealthKit is definitely a wildcard because of the security implications, and probably the new-ness of it. It's too bad since I realize the implementation is outside the scope of Periscope, it does fit within the idea of abstracting requesting authorization.

Perhaps we should think of, instead of making HealthKit fit within the way how o

[2016-06-09 11:40] jesster2k10 opened #173 "I don't want it to show again if user denies"
How can I do this cause it may start to become annyoing if it keeps on popping up.

[2016-06-09 11:44] ingeniousgenius commented on #173
I figured it out never mind

[2016-06-09 14:11] #173 closed

[2016-07-01 04:07] thomasgpeng opened #175 "How to use Permissions API in Objective-C?"
Does anyone know how to use the unified permissions API in an Objective-C project?  So far I've got:

    PermissionScope *pScope = [[PermissionScope alloc] init];
    if (pScope.statusLocationAlways == ???) {

    }

I'm not sure how to use the Swift enums in this code however and couldn't find any examples.  Any help would be much appreciated.

[2016-07-01 14:21] nickoneill commented on #175
Hi @thomasgpeng, have you examined the ObjC example project?

[2016-07-01 14:56] thomasgpeng commented on #175
@nickoneill Yes I have, but it only has an example of how to use the UI (which works great), not the permissions API as far as I can tell.

Thanks a lot for this library, btw.  Rejected permisisons are a huge issue for my app so I'm looking forward to implementing this.

[2016-07-05 07:30] afiq90 opened #176 "Swift 3 compatibility"
Does anyone know how to fix this error when using Xcode 8 BETA? Below is the error screenshot.

http://i.imgur.com/ImuQIUE.png

Any help will be much appreciated.

[2016-07-05 14:49] nickoneill commented on #176
You can try the code in issue #174 to get the Swift 3 syntax in the short term. We'll have an official swift 3 branch soonish.

[2016-07-07 08:25] aliess commented on #173
can you please show how did you solve this ?

[2016-07-07 15:56] nickoneill commented on #173
Hi @aliess, if you don't want the denied re-show behavior, simply check for the status of each of your permissions before you call `show()` and don't call it if any of them are the denied status.

[2016-07-16 13:49] StuartMorris0 opened #177 "Translations and Localized Strings"
Hello,

Any recommendations for applying localisation strings to the strings used in PermissionScope?

I would prefer to use the cocoapod and override the methods but I was not able to get that working. We could of course copy the framework and edit ourselves but that doesn't seem the best approach.

For example the showDeniedAlert method uses hard coded strings and we want those to be localized.

[2016-07-18 15:36] StuartMorris0 commented on #177
Hey, I see you use an extension called localized which looks for localized string with the relevant text as the key. We will go with that. Thanks

[2016-07-18 15:36] #177 closed

[2016-08-05 18:19] RafaelPlantard opened #179 "When the master branch will be turn into a tagged version?"
When I use cocoa pods in my personal pod the version tagged 1.0.2 is older than the master version.
And I need the fix of Selector to #selector that is in master branch.
Can you help me?

[2016-08-05 22:15] yichengsun commented on #160
@nickoneill I'm having the same issue where app crashes after any of the app permissions changes (have tried camera, microphone, and location) while the app is in the background e.g. after pressing "Show Me" on the showDeniedAlert. Same error message as @trozware.

I've tried @winkelsdorf 's fix of invoking openURL on the main queue, but that only removed the console error. App still crashed. This

[2016-08-05 23:53] bre7 commented on #179
Use master in your Podfile until a new version is released :)

[code]

[2016-08-05 23:53] #179 closed

[2016-08-06 01:02] RafaelPlantard commented on #179
In a PodSpec file that is unavailable...
I need put this dependence inside my personal cocoa pod.

[2016-08-06 01:26] bre7 commented on #179
Sub-modules until a new version is released ?

[2016-08-06 22:17] RafaelPlantard commented on #179
Okay, I will use sub-modules, but do you have some date to new release?

[2016-08-06 22:50] bre7 commented on #179
Not sure. I think the new version will be pushed using Swift 3

[2016-08-10 19:25] nickoneill commented on #160
@yichengsun Yes - the crash isn't an issue with PermissionScope but as-designed for iOS. Changing certain permissions in the settings screen will terminate apps that have requested those permissions. This particular issue is related to fixing the warning only.

[2016-08-11 19:30] yichengsun commented on #160
gotcha

[2016-08-12 17:56] dimohamdy opened #181 "Support SFSpeechRecognizer iOS 10"
please support authorization  of "SFSpeechRecognizer" in iOS 10

[2016-08-19 13:43] jesster2k10 opened #182 "OSX & tvOS Support"
I'm just wondering if it's possible

[2016-08-19 21:48] nickoneill commented on #182
I'm not sure how macOS support would work, asking for permissions really isn't an issue on the desktop. I have to admit I don't know much about the native tvOS permissions UI, let me know if you can elaborate

[2016-08-22 01:54] otymartin commented on #160
@nickoneill  is there a solution at this point or will it just always crash?

[2016-08-22 04:02] otymartin commented on #4
@nickoneill how can I disable this? For some use case like say snapchat, permissions MUST be granted for the app to be functional. I can hide the close button but how can I disable `cancel` from background overlay?

[2016-08-22 14:52] nickoneill commented on #4
@otymartin You can't remove the background close functionality at the moment. I would gate the permissions-required part of your app with a pscope dialog, before pushing your view controller that required permissions.

[2016-08-22 14:54] nickoneill commented on #160
There is no solution @otymartin, this is expected behavior from the OS. The situation is unchanged from 12 days ago.

[2016-08-22 15:00] otymartin commented on #160
@nickoneill Yea it crashes while app is connected via USB but works fine on its own.

[2016-08-22 15:25] SaifAlDilaimi commented on #176
any progress?

[2016-08-22 15:28] bre7 commented on #176
Check #174 which has the latest swift 3 changes

[2016-08-25 09:59] pjebs opened #183 "iOS 7 support"
Is there anything in the library that prevents iOS 7 support.
I looked through code quickly but I don't seem to see anything incompatible with iOS 7.

[2016-08-25 10:00] pjebs commented on #183
Unfortunately I don't have iOS 7 device to test it out on.

[2016-08-25 10:18] vijaysanghavi opened #184 "Mobile data permission should be added"
This is a Enhancement request in existing repo. I am checking for internet connectivity through Reachability classes which works very fine for me.

Now what I am trying to achieve is to show Mobile Data permission in permission scope dialog. If user has denied the Mobile Data from system settings than the application will ask forcibly for Mobile Data permission through permission scope dialog else

[2016-08-25 10:45] vijaysanghavi commented on #183
You can try the same on iOS 7 simulator by downloading it in xcode.

_-------------------_
_Best Regards,_
_Vijay Sanghavi_
_iOS Developer_
_Contact: +91-9987597775_
_"Logic will get you from A to B. Imagination will take you everywhere."
http://vijaysanghavi.branded.me_

On Thu, Aug 25, 2016 at 3:30 PM, pjebs notifications@github.com wrote:

[2016-08-25 17:50] nickoneill commented on #184
Sorry @vijaysanghavi, apps cannot control or see the Mobile Data setting on a per-app or device level.

[2016-08-25 17:50] #184 closed

[2016-08-25 17:51] nickoneill commented on #183
Sorry, not enough time or interest in supporting iOS 7 at this point.

[2016-08-25 17:51] #183 closed

[2016-08-26 23:25] bre7 commented on #176
Check `swift3` branch (compatible with Xcode 8 beta 6)

TODO:
- Replace `UIControlState()` with `.normal`
- Recheck access control (open vs public). Class shouldn't be open (sub-classing makes no sense)

[2016-08-26 23:26] bre7 commented on #175
Check:
- https://github.com/nickoneill/PermissionScope#unified-permissions-api
- https://github.com/nickoneill/PermissionScope#calling-request-methods-directly

Mind the bugs (e.g: #130)

[2016-08-26 23:27] #175 closed

[2016-08-31 00:56] pjebs opened #186 "Bug with user disallowing permission"
I have 2 permissions set up:
Camera and Notifications.

Camera has permissions. Notifications does not yet.
The screen is presented. Say the user clicks on notifications button and rejects permissions.

Say next time, the screen is again presented. The user clicks on notifications button and alert is shown. The user clicks to go to settings.

If the user now **disables camera** permission and then

[2016-08-31 00:57] bre7 commented on #186
Dupe #160 ?

[2016-08-31 00:58] nickoneill commented on #186
I really need to add this to the readme!

This is normal system behavior. If you toggle permissions from the settings screen, apps that have been approved or denied for this permission will be killed by the OS.

[2016-08-31 00:58] #186 closed

[2016-08-31 00:59] bre7 commented on #186
New item in "Known bugs" and maybe add it to the issue template

Update: Done

[2016-08-31 01:19] pjebs commented on #186
There seems to be some inconsistencies:
I had denied camera in the past.
When the popup comes up, I get taken to the Settings. I allow Camera and go back to app.

The app **doesn't crash** - BUT it doesn't detect that camera is now allowed.
Even if I close popup and open it up again (NB: the app is never terminated), the popup still thinks Camera is denied.
When I check settings app, **Camera is d

[2016-08-31 01:21] bre7 commented on #186
Have you printed the return values ? Might be an issue related to the UI instead (check #150 just in case)

[2016-08-31 01:24] pjebs commented on #186
Printed them out from callback:

[Camera Unauthorized, Notifications Unauthorized]

I checked Settings app again - Camera definitely allowed

And also app didn't crash when it got sent back.

When I restarted app, it recognised Camera allowed.

[2016-08-31 01:26] bre7 commented on #186
Try returning the raw value then: `AVCaptureDevice.authorizationStatusForMediaType(AVMediaTypeVideo)`

[2016-08-31 01:28] pjebs commented on #186
By the way, it worked perfectly with Notifications permissions being allowed from settings app and the returning to App.

I think it only crashes if permissions that app **already had** are denied from permissions app. That also makes more sense from a design perspective.

[2016-08-31 01:39] pjebs commented on #186
`AVCaptureDevice.authorizationStatusForMediaType(AVMediaTypeVideo)` returns denied despite settings app showing `Authorized`.

So it's not the fault of PermissionScope. Perhaps `AVCaptureDevice.authorizationStatusForMediaType(AVMediaTypeVideo)` is not the best function to call to test camera permissions?

[2016-08-31 01:41] bre7 commented on #186
`AVCaptureDevice.authorizationStatusForMediaType()` is the recommended way as far as I remember.

Just to be certain, you are using a device right ? Not the simulator.

[2016-08-31 01:44] pjebs commented on #186
I'm using device.
I double checked it. It is the recommended way - it seems to not get changed immediately for the app. Bug with Apple.

Either way, the readme's known bugs section should be changed to reflect that app only crashes when a user reduces the permissions of app from what it already had.

[2016-08-31 01:56] pjebs commented on #186
Here's a twist:
All statements above were from tests on a iPhone 6 running iOS 9.
The app doesn't crash when the permissions scope is increased.

I tested on iPad running iOS8.3. The app crashes when any permissions are changed, even if permissions are unambiguously expanded. So for camera permissions it is a moot point whether the app accurately detects the authorization when it returns.

[2016-09-03 10:55] jesster2k10 opened #189 "Swift 3 Errors"
I updated the code with the current Swift3 code, but I still get the errors in `PermissionScope.swift` on line 283 and a bunch of others. It directs me to here `frame.offsetInPlace`

The full error is this

 And I tried searching the documentation to see if its deprecated but I can find it anywhere.

Also, I get another error on line `112` and other lines. The code causing the error is `let result

[2016-09-03 11:02] ingeniousgenius commented on #189
This can be closed. I didn't realize the other files were changed too.

[2016-09-03 11:02] #189 closed

[2016-09-08 06:15] robbiet480 opened #190 "UserNotifications support"
Now that the Swift 3 branch is almost out, can support for UserNotifications be added?

I think I am capable enough of a Swift developer now to implement it myself (and of course submit a PR) but wanted to check to see if anyone else had already started on it. I don't see anything in forks as of this writing.

[2016-09-08 15:09] nickoneill commented on #190
I haven't started this but I have started moving on getting the swift3 branch ready to be moved to master. Feel free to take a shot at UserNotifications based on that branch!

[2016-09-12 08:12] MaeseppTarvo opened #194 "Too many permissions for AppStore"
Hey. If you are using PermissionScope with Xcode 8 GM and try to upload it to appstore you are gonna get errors like:

For some reason it thinks that I ask all those permissions. I even do not use any of these. Just the notification one.

[2016-09-12 14:43] nickoneill commented on #194
Thanks @MaeseppTarvo, I'll add this to the readme. At the very least you should be able to add those string values and get past submission.

@bre7 Perhaps it's really time to do subspecs for each permission :/ Not sure how Carthage could work similarly.

[2016-09-12 16:13] bre7 commented on #194
One subspec per permission seems....too much. Isn't there a way to use weak linking like in ObjC ?

[2016-09-13 15:12] sansari commented on #194
+1, seeing this as well.

Feels really weird to be adding usage descriptions for permissions we don't even use (Apple is already so picky about exactly how one uses different capabilities/permissions, so it makes me a bit nervous to "declare" we're using all of these).

[2016-09-13 17:17] pjebs opened #195 "Push notification"
I submitted an app which got rejected today due to:
[code]

Is this a new policy? Has anyone else had this before?

[2016-09-13 17:21] nickoneill commented on #195
I haven't heard of this before but it's not a surprising rule for the app store. By default PermissionScope should present your permissions as optional, i.e. if you cancel the dialog via the X button or tapping on the background, it should allow the user to continue.

Are you overriding this behavior to force the notifications permission?

[2016-09-13 17:37] pjebs commented on #195
I force the user to accept push notifications in order to proceed. In the callback, I was using `finished`. I guess I can't use `finished` anymore.

[2016-09-13 20:13] nickoneill commented on #195
👍

[2016-09-13 20:13] #195 closed

[2016-09-13 22:15] robbiet480 commented on #194
:+1: Also just had a build rejected for the same reason.

[2016-09-13 22:17] bre7 commented on #194
For now I'd suggest forking and removing unused permissions (or editing the Pods project) 😞 Not sure if there's a perfect solution to these problem

[2016-09-13 22:19] robbiet480 commented on #194
Agree with @bre7. This feels pretty bad to add all these keys to my Info.plist, especially since i'm not using any of these. I think i'm going to remove PermissionScope for the time being until a fix can be determined.

@nickoneill I'd suggest putting a giant warning in the README. I have been waiting for my build for almost 2 hours and called Developer Support who also had no idea what was going

[2016-09-13 22:20] bre7 commented on #194
There are some issues in SO like these:

A possible "solution" (albeit hacky) would be to enter all the required keys in Info.plist (it's even suggested by AdMob's team: https://groups.google.com/forum/#!msg/google-admob-ads-sdk/UmeVUDrcDaw/HIXR0kjUAgAJ)

[2016-09-13 22:40] robbiet480 commented on #194
If anyone needs it, I pushed a branch that's compatible with Swift 3/iOS 10 and uses the new UserNotifications framework. It only supports notifications and location. It's available [here](https://github.com/robbiet480/PermissionScope/tree/location-and-notifications-only).

[2016-09-14 00:33] nickoneill commented on #176
Just fixed both of these on the `swift3` branch, as well as some other issues.

Let me know if this makes sense for a swapover:
- push latest changes in `master` to `swift2` again
- tag a new 1.0.3 release/podspec for swift 2 in that branch
- rebase `swift3` on those changes
- merge `swift3` onto master
- tag a new 1.0.4 release/podspec in master

That'll make sure people on swift 2 have the newes

[2016-09-14 01:01] bre7 commented on #176
👍

[2016-09-14 13:37] h3smith commented on #194
While more work, perhaps the correct solution is a core cocoapod, with the logic for each individual permission in its own pod. Or, while hacky if you are building from source there are always preprocessor flags you could wrap around each permission.

[2016-09-15 03:58] yuvalt commented on #194
I know it won't be the prettiest or swift friendly option -- but what about using preprocessor flag per type of permission and then having to include the list of preprocessors in the project file?

[2016-09-15 04:33] nickoneill commented on #194
@yuvalt We're not even sure what's causing the requirement at the moment - is it just linking the frameworks or the presence of the code itself? Waiting for more information right now.

[2016-09-15 04:34] robbiet480 commented on #194
@nickoneill It's the presence of the code itself. I didn't remove any framework links and my builds passed. I bet that Apple is looking for the `import` statement or specific classes.

[2016-09-15 04:37] bre7 commented on #194
Yeah. The frameworks are being linked because of the import statements.

[2016-09-15 04:37] robbiet480 commented on #194
Shows how new I am to Swift 😿. Sorry @nickoneill

[2016-09-15 04:39] nickoneill commented on #194
I'm filing a code-level support request in an attempt to get more information on the issue.

[2016-09-15 07:45] MaeseppTarvo commented on #194
I think the problem is actually much Apple sided. I think that if you have whatever piece of line about some permission inside code it just detects it and check if it is allowed. So I think there is nothing to do.

[2016-09-15 12:28] h3smith commented on #194
They are performing static analysis and finding the calls for the specific permissions and noticing the lack of the description in the plist file. Nothing more than that and you aren't going to get around it.

[2016-09-15 14:52] yuvalt commented on #194
That's why I think preprocessing is the only way to go (need to be verified). So we can add a preprocessor definition like PS_INDIVIDUAL_PERMISSIONS and then PS_LOCATION, PS_CONTACTS etc... this way we can make sure that only the relevant code gets compiled. I can implement it quickly if people think it's the right approach.

[2016-09-15 19:52] emreavsar commented on #194
also looking for a fix.

[2016-09-15 19:58] nickoneill commented on #194
@yuvalt I'm interested in this approach but wary of asking people to create flags in build settings because it's not always straightforward. Can you think of another way to turn preprocessor definitions on and off?

@emreavsar Your best bet in the short term is adding those plist items for the permissions that you're not using. Users will never see them until they're requested (which they never ar

[2016-09-15 20:00] emreavsar commented on #194
@nickoneill thanks for the quick answer. Yep this looks like the quick-fix for the moment. Are you 100% sure that they're not listed somewhere but only requesting? (App Store Entry, Settings etc.)?

Thanks anyway. Looking for the update mate!

[2016-09-15 20:01] nickoneill commented on #194
They're not listed in the app settings until they're requested. The code hasn't changed, it's strictly a change in Apple's review process.

[2016-09-15 20:20] yuvalt commented on #194
@nickoneill I hear you, but that's the only thing I could think of. The user will need to define it under Build Settings -> Swift Compiler -> Custom Flags (it's not under Basic but rather under All). Painful. Anyway, all the could be optional and people can still just include all the descriptions in their Info.plist or just opt to use this. I'll be happy to issue a pull-request for this, if you're

[2016-09-15 20:20] h3smith commented on #194
The only solution is that preprocessor flags have to be defined for the build process. There really isn't a way around it. Sadly you can't #define at the top of the .swift file because that would take care of it and make it easier.

But, it'll allow you to pick and choose which support you want which could be seen as a huge plus instead of having everything in there...

[2016-09-17 09:43] LinusGeffarth opened #197 "Incompatible with Swift 3"
There are about 9 bugs causing by Swift 3 not being able to compile. Could anyone try to update the code?
Thanks!

[2016-09-17 15:20] nickoneill commented on #197
Look at the `swift3` branch @LinusGeffarth.

[2016-09-17 15:20] #197 closed

[2016-09-18 11:48] ogezue commented on #176
What is currently needed to run a swift 3.0 migrated project with PermissionScope?

[2016-09-18 16:23] nickoneill commented on #176
Use the `swift3` branch with cocoapods or carthage @ogezue

[2016-09-18 16:34] bclubb commented on #176
I'm trying

`pod 'PromiseKit', :git => 'https://github.com/nickoneill/PermissionScope.git', :branch => 'swift3'`

but getting `[!] Unable to find a specification for 'PromiseKit'.`

Is there something obvious that I'm doing wrong with the podfile?  Great project.

[2016-09-18 16:37] nickoneill commented on #176
@bclubb The pod name is `PermissionScope`, not `PromiseKit`

[2016-09-18 16:37] bclubb commented on #176
Sorry, going through my podfile and updating for swift3.  Great project

[2016-09-19 11:13] majidsaleem105 opened #198 "XCode 8 and Swift 3"
I took xcode updates and downloaded latest swift 3.0 SDKs last week. I have been using few other libraries like SwiftyDB, Alamofire and PermissionScope in my project. I have taken updates using 'POD Update', everything is working except "PermissionScope". It is giving following errors:

Warning:  Target 'PermissionScope' of project 'Pods' was rejected as an implicit dependency for 'PermissionScope

[2016-09-19 16:57] nickoneill commented on #198
@majidsaleem105 Have you tried specifying the swift3 branch for PermissionScope in your Podfile?I think your `framework not found` issue is related to not setting up the downloaded zip correctly, I would stick with cocoapods if you have that setup and (previously) working.

[2016-09-19 18:35] majidsaleem105 commented on #198
@nickoneill Yes, I specified swift3 branch for PermissionScope in my Podfile. I used cocoapods to set this up with my project and it was working perfectly fine for me.

Here is my podfile contents:

[code]

I made 2 changes in it:
1. `platform :ios, '10.0'` [It was set as '9.0'.]
2. `# pod 'PermissionScope'` [commented and added below line.]
`pod 'PermissionScope', :git => 'https://github.com/nick

[2016-09-20 20:31] nickoneill commented on #194
Hey friends, I got a suggested fix from Apple support, importing the framework is what causes the detection for API usage so give me your thoughts on this: each permission will have a single framework associated with it and you would have to import the framework specific to the permission that you're requesting, such as `import PermissionScopeCamera`, `import PermissionScopeNotification`, etc.

[2016-09-20 20:32] robbiet480 commented on #194
@nickoneill What would the Podfile look like in that case?

[2016-09-20 20:32] bre7 commented on #194
One Pod per permission ?

[2016-09-20 20:33] robbiet480 commented on #194
Why not a subspec for each framework instead of an entire Pod?

[2016-09-20 20:33] nickoneill commented on #194
@bre7 I'm not convinced this is required... if we include many frameworks in a single podspec but don't import them anywhere, I've been given the impression that it will pass app review.

[2016-09-20 20:33] bre7 commented on #194
Meant subspec :D

Interesting. Guess we'll need to test it

[2016-09-21 01:20] basememara commented on #194
Adding the privacy entries in the plist is definitely not a long-term solution. You would be misrepresenting your app in some way and you'll have more explaining to do with Apple. Also down the road who knows what those will be used for (maybe a popup like Android).

I totally support using compiler flags, the code isn't in the compilation this way.

Segmenting the code seems overkill for a relati

[2016-09-21 06:54] Panajev commented on #194
Sent from my iPhone

+1

[2016-09-22 00:20] nevinjethmalani opened #199 "Unified Permission API"
I am not sure whether you have updated the docs for swift 3 but I noticed that on the unified permissions API the .unknown, .unauthorized, .disabled, and .authorized should be lower case not upper case (in the switch statement).

[2016-09-22 06:12] majidsaleem105 commented on #198
@nickoneill Any luck with this issue? Did you get a chance to take a look on this issue?

[2016-09-22 15:12] ValiDraganescu commented on #194
I added the requested descriptions in my plist but I still get the error after the app processing starts in iTunes Connect

[2016-09-23 12:30] ValiDraganescu commented on #194
I think I've just found something interesting here. I added all the requested descriptions in my plist and still got rejected for the same thing. I removed PermissionScope from my pods and implemented my own permissions. Good thing it'a a new app and I only need location and camera access.

Now, I implemented the location and camera access but I also had the photos gallery description in the plist

[2016-09-23 14:52] zeiteisen opened #200 "Button texts truncated on iOS 8"
![screen shot 2016-09-23 at 16 50 16](https://cloud.githubusercontent.com/assets/861496/18790157/fe0d8584-81ad-11e6-8747-8ccaf1b96539.png)

See the close and grant access button.

[2016-09-23 19:30] robbiet480 commented on #194
@ValiDraganescu Is there another Pod that uses it? I had to really dig through all my Pods to find even the smallest mention of photos. Also, UIImagePicker will cause that error. I found UIImagePicker in PromiseKit as an example of unexpected libraries which may cause problems.

[2016-09-25 08:13] seboslaw commented on #194
@ValiDraganescu are you using ReactiveCocoa? It also has a UIImagePicker binding that causes this rejection at the moment.

[2016-09-26 06:55] ValiDraganescu commented on #194
@robbiet480, @seboslaw I am using UIImagePicker because I really need it :). I did all the setup, I added the description in the plist and still got the app rejected. I ended up removing my parts of my own code that was mentioning UIImagePicker and now the app has been approved. My app will not get public for a while now but still it would be great to test the camera functionality. I guess this is

[2016-09-26 14:21] nickoneill commented on #194
Yes @ValiDraganescu, you should file a radar. It appears your issue is not related to PermissionScope.

[2016-09-26 21:39] nickoneill commented on #199
Thanks @nevinjethmalani, I'll catch this during the swift3 changeover

[2016-09-26 21:40] #182 closed

[2016-09-26 22:09] nickoneill commented on #198
I'll have the swift3 stuff as a new release soon, I suggest you wait and try that again if the branch isn't working for you.

[2016-09-26 22:50] #199 closed

[2016-09-26 22:58] nickoneill commented on #176
Master is now swift 3 with version 1.1... I'm still fighting cocoapods to get the update pushed there

[2016-09-26 23:16] nickoneill commented on #176
Should be done now, at version 1.1.1 after much fighting.

[2016-09-26 23:16] #176 closed

[2016-09-26 23:17] nickoneill commented on #198
Please try again now, update your pod for master.

[2016-09-26 23:17] #198 closed

[2016-09-27 08:17] majidsaleem105 commented on #198
Thanks for the updates, I updated my pod file as you mentioned but unfortunately, it is still giving same error as I attached screenshot with my 1st message. Any suggestions?

[2016-09-27 11:53] bre7 commented on #198
[code]

[2016-09-27 12:18] majidsaleem105 commented on #198
Thanks Nathan for your reply. I followed your instructions but no luck. I don't understand the following warning with error. Am I missing something?

Warning: Target 'PermissionScope' of project 'Pods' was rejected as an implicit dependency for 'PermissionScope.framework' because its architectures 'x86_64' didn't contain all required architectures 'i386 x86_64'

Error:
ld: framework not found Perm

[2016-09-27 19:58] nickoneill commented on #198
This strikes me as an integration issue @majidsaleem105, I suspect you may have messed with your project settings when switching to the download-zip-and-install. Is there a way you can revert back before you started messing with permissionscope, test updating to 1.1.1 (swift 3) and report back?

[2016-09-30 22:28] Luccifer commented on #194
Hope I will not be rejected with so many permission descriptions in Info.plist.
Anybody success AppStore release with bag of premission descriptions?

[2016-10-02 04:04] codytwinton opened #201 "Swift 3 Official Release"
Is there any update on when Swift 3 will be released as the main version? Swift 2.3 and below could still be supported with other branches

[2016-10-02 04:54] nickoneill commented on #201
Swift 3 is released as the main version as of last week

[2016-10-02 12:36] #201 closed

[2016-10-03 12:57] pjebs commented on #200
German is tough due to long words.
Perhaps the button on top-right should have `.sizeToFit()`.

Perhaps the grant buttons should have:

[code]

Perhaps you can apply does methods to the label inside the button. Not sure if it exists for buttons.

[2016-10-03 13:14] pjebs opened #202 "Call .show 's callback immediately."
My app required 2 permission (Camera, Microphone).
The app is has a login screen (password etc) and the app has no value without camera and microphone permissions.

For this reason, I show PermissionScope after logging on but before the main screen. I checked the callback: `pscope.show({(finished, results) -> Void in` and if finished == true, I proceeded to the next screen. If not, I stay on the P

[2016-10-03 13:18] pjebs commented on #202
The issue is I can't use the `finished` value because Notifications must be optional.
I want to keep the Notifications permission in menu so if user grants it, it's a nice bonus. But if they don't, but they grant Camera and Microphone, I can then proceed.

**The problem is after the show method, your library doesn't immediately call the callback. It waits for a change in authorization EXCEPT in th

[2016-10-03 13:53] #202 closed

[2016-10-03 14:19] nickoneill commented on #202
Thanks for the note @pjebs. I usually encourage people to ask for notifications permission in the context of asking a user if they want feedback (i.e. after they post a comment "do you want to be notified of replies?") rather than entirely upfront. There's no great way for us to show a permissionscope dialog where just one permission is optional and users don't like being asked for notification pe

[2016-10-03 17:45] emobtech commented on #194
@Luccifer Just got an update approved with all those permission keys with generic placeholders. No comments from review team. Hopefully they fix it in future Xcode's versions.

[2016-10-03 17:46] nickoneill commented on #194
Thanks for the followup @emobtech, we're working on a better solution for the future.

[2016-10-03 18:03] Luccifer commented on #194
5 minutes ago they take my build for review as well, waiting for results, will update this comment later after their response/approve

[2016-10-05 23:31] jbarmanet opened #203 "MotionPermission() always return unknown"
With Swift3 + XCode8 + iOS10 the MotionPermission() works fine, however when checking for the permission.statusMotion() it always return Unknown even if the permission was accepted...
Is that a known issue?

For now I found a workaround by using the new iOS9 CMSensorRecorder feature, that has a very straightforward `CMSensorRecorder.isAuthorizedForRecording() -> Bool`  that will let us know if  Mo

[2016-10-09 12:42] TomMajor commented on #194
Hello nickoneill and bre7,

I see my issue from last year made it to your readme :)  https://github.com/nickoneill/PermissionScope/issues/61

I am in need of a short term solution for submitting an app, I don't want to fill out all privacy entries as I feel this is the wrong way and might be suspicious. I just need camera and photo library.

What would be a recommend way to remove all unused permi

[2016-10-09 18:41] basememara commented on #194
If I may chime in, yes this is what I did. I deleted all the import statements and removed what couldn't compile anymore.

I only needed notifications so I adjusted the code accordingly and submitted it fine without all the privacy entries: https://github.com/basememara/PermissionScope/tree/feature/notifications_only

[2016-10-09 18:46] nickoneill commented on #194
Thanks @basememara, that seems like the thing to do right now if you don't want to fill in the plist items for permissions you don't use. Working on an alternate method for import right now.

[2016-10-11 21:50] TomMajor commented on #194
Thanks @basememara for the hints.
Once I commented out the imports and the `//MARK` sections I didn't need, it's pretty straightforward.
This way, only a few places are left where xcode complains.

Only two of them are really notable, one being the line

[code]

where I was not really sure if just commenting it out would be ok, but I think so, and the other in

[code]

where I needed to add a defa

[2016-10-11 23:02] bre7 commented on #68
Reopen if there's enough user interest

[2016-10-11 23:02] #68 closed

[2016-10-11 23:03] bre7 commented on #86
Reopen if there's enough user interest. HK would seem to be too complex for PS' scope.

[2016-10-11 23:03] #86 closed

[2016-10-11 23:15] bre7 commented on #160
Closing as PS isn't to blame for this issue

[2016-10-11 23:15] #160 closed

[2016-10-11 23:16] bre7 commented on #116
Closing for the time being.

[2016-10-11 23:16] #116 closed

[2016-10-11 23:17] bre7 commented on #25
Reminder or bug ?

[2016-10-11 23:17] #25 closed

[2016-10-11 23:20] bre7 commented on #92
Force Portrait mode for PS' dialog ? http://stackoverflow.com/a/28220616/2124535

[2016-10-11 23:21] bre7 commented on #75
Reopen if there's enough user interest (linked to HK)

[2016-10-11 23:21] #75 closed

[2016-10-11 23:21] #30 closed

[2016-10-11 23:22] bre7 commented on #58
Reopen if there's enough user interest

[2016-10-11 23:22] #58 closed

[2016-10-11 23:29] bre7 commented on #203
Motion status is async iirc. Might be related to how PS' handles async permissions requests (#133)

Could you submit a PR using `isAuthorizedForRecording` with availability checking ? (Since it's iOS 9+). The API is ambiguous though, it doesn't differentiate between unknown/unauthorized so we'd have to use the UserDefaults approach

[2016-10-11 23:30] nickoneill commented on #25
Just a reminder, good to close

[2016-10-12 06:22] evermeer commented on #58
I already had given up hope that this would ever be implemented.
Currently I use a custom solution for requesting permissions.
It would still be nice if PermissionScope would implement this.
Without it it's not a complete solution for all possible permission questions.

[2016-10-18 13:46] AdventuresOfMar opened #204 "Callback After User accepts all permissions"
Hello All,

This is actually just a question. Is there currently a callback once a user accepts permissions. Essentially what I'm trying to do is wait until a user accepts all permissions or cancels permission scope to segue into the next view controller. Thanks for your time.

[2016-10-18 15:59] bre7 commented on #204
The only callback available is triggered each time PS detects a status change.

[2016-10-18 16:01] #204 closed

[2016-10-18 19:57] nickoneill commented on #204
@AdventuresOfMar you can loop through the status for all requested permissions when each permission is triggered, as @bre7 suggests. I highly recommend you don't block entrance into a different view controller unless your app is fundamentally incompatible without permissions (such as camera + microphone for a video streaming app). In addition, Apple likes to reject apps that force the user to acce

[2016-10-18 20:22] bre7 commented on #204
~~IIRC there was a callback named `allAccepted` or something like that~~

Check `allAuthorized(_:)`: [link](https://github.com/nickoneill/PermissionScope/blob/master/PermissionScope/PermissionScope.swift#L110)

[2016-10-18 20:26] bre7 commented on #181
PRs are welcome. Not enough user interest for this permission atm so it might take a while.

[2016-10-19 19:03] bre7 commented on #194
Flags+Subspecs solution used by ISHPermissionKit: https://github.com/iosphere/ISHPermissionKit/pull/80/files

[2016-10-26 12:05] Zornikachu opened #206 "Custom Permission creation"
Hi everyone,

I would like to use PermissionScope to add custom Permissions to enable or disable certain features in my app.  I tried to implement it so far it's looking good, but before any release I would like to know if it's something the MIT license enables.

[2016-10-26 15:33] nickoneill commented on #206
Hi @Zornikachu, you should feel free to copy or extend the code in any way you see fit, there are no restrictions.

[2016-10-26 15:33] #206 closed

[2016-10-26 17:10] bre7 commented on #206
Here are the cliff notes on MIT: https://tldrlegal.com/license/mit-license

![mit](https://cloud.githubusercontent.com/assets/3183848/19736497/e6adf2ba-9b85-11e6-9c4a-025d53242196.png)

[2016-11-11 18:24] ogezue opened #208 "Deprecation warning ios10"
PermissionScope/PermissionScope.framework/Headers/PermissionScope-Swift.h:205:45: 'UIUserNotificationCategory' is deprecated: first deprecated in iOS 10.0 - Use UserNotifications Framework's UNNotificationCategory

[2016-11-12 02:21] bre7 commented on #208
Related to #190. Fixed in #191

[2016-11-12 02:21] #208 closed

[2016-11-12 19:16] ogezue commented on #208
So it is fixed but the cocoapods is not up to date?

[2016-11-12 19:17] bre7 commented on #208
#191 hasn't been merged yet, hence its "open" status.

[2016-11-17 16:08] alanscarpa commented on #194
@bre7 This seems like a solid solution to the issue.  I'd like to implement the same solution for this project and make a PR, unless  @nickoneill you have an alternate solution in the works?

[2016-11-17 20:19] h3smith commented on #194
We sort of "butchered" @nickoneill code to get the permission prompts working as we wanted. It was basically breaking each "permission set" into its own Framework. if you want to use "Camera" you had XYZCamera.framework and viola done.

[2016-11-18 17:12] nickoneill commented on #194
That's the solution I think is best @h3smith, flags and subspecs seems a bit more complicated to use. @alanscarpa if you want to work on an approach, this is the right way to go.

[2016-12-02 14:24] NinoScript opened #211 "Use PermissionScope as Settings (force the dialog to open)"
Feature request
---
Add a way to force the dialog to open

Rationale
---
I have 2 use cases for PermissionScope:

1. Only ask for permissions that the user hasn't actively accepted or denied, which is fairly easy, I just call `addPermission` on those whose `PermissionStatus` is `.unknown`.

2. Open a settings window where the user can accept, deny or change previously configured permissions, so I

[2016-12-09 03:15] andrewkouri-old commented on #194
Any update on this?

[2016-12-09 15:49] nickoneill commented on #194
Sorry @andrewkouri, I don't have the time to do this work myself at the moment. Happy to review a PR from you or @h3smith if you want to collaborate on the proposed solution.

[2016-12-11 19:45] nickoneill commented on #211
Thanks for the note @NinoScript, I'll leave this open until we come to a conclusion on if this is a supported use case. Do you want to link your fork here too?

[2017-01-07 02:59] HowardCsie opened #213 "iOS 9.3 allow button not works"
![image](https://cloud.githubusercontent.com/assets/17197816/21738845/c0fbe29a-d4c7-11e6-815f-b2144c0caa5c.png)
iOS 10.0 all works fine.
However, on iOS 9 Device, when i tapped allowButton , then it just turned into denied.
Is there anyone knows what 's going on?
I will be grateful for any help you can provide.

[2017-01-07 05:16] bre7 commented on #213
Please test using a real device 👍

[2017-01-09 10:36] sokravtsov opened #215 "Add permission for Speech Recognition"

[2017-01-24 07:15] rajubd49 commented on #213
I'm also having problems in iOS 10.2 simulator. Contacts permission is denied automatically If I press enable button. Location permission enable button tap is not working.

[2017-01-26 07:36] nickoneill commented on #213
If it wasn't clear before @rajubd49, please test on a real device. The simulator is not a reliable place for permissions testing.

[2017-01-26 11:41] rajubd49 commented on #213
Yes, it works on real device. But we don't always get the chance to test on real device. That's why I raised this issue. Anyway, thanks for your reply.

[2017-02-03 18:39] marcelgoya commented on #215
It's already added as pull request

[2017-02-08 05:04] #215 closed

[2017-02-14 10:00] cd-chen opened #219 "Modify the button text"
Hello, I am using your project, but I want to modify the text of the button, such as "ENABLE LOCATION". Will this have exposed the API?

[2017-02-20 16:05] Abreu0101 opened #221 "Objective-c Project ~ PermissionScope Error CBPeripheralManagerDelegate"
I'm unable to build my project, I'm receiving an error in PermissionScope (interface) code:
"CBPeripheralManagerDelegate protocol not found".

I'm using an Objective-c based project.
I added the library through Cocoapods: "pod PermissionScope". (version 1.1.1)
Just in case, also add the CoreBluetooth framework to my project (although I'm not using, just to check). Try cleaning and building, but st

[2017-02-20 17:44] jose-roberto-abreu commented on #221
The issue was a category that I created for PermissionScope (to some extra utilities). Just need to import CoreBluetooth in the Category header.

[2017-02-20 17:45] #221 closed

[2017-03-10 22:16] rspreen opened #223 "detectAndCallback needs to be called in other situations"
Currently, when the PermissionScope dialog is shown, and the user leaves the app using the "Show me" alert option to go to Settings, PermissionScope observes "UIApplicationDidBecomeActive" so that it can re-analyze the permissions (using the "detectAndCallback()" method) to sense and display changes when the user returns.

However, if, while the dialog is shown, the user manually leaves the app (u

[2017-03-18 16:45] nikans opened #224 "Maybe permissions status checks should be moved from main PermissionScope object or made static"
Looks like it's imposible to conveniently check permission status without initializing a giant PermissionScope object, though, there're no dependencies to justify this. I can probably put together a PR if it's ok regarding general logic of this module.

[2017-03-28 18:13] deivitaka commented on #189
@jesster2k10 how did you solve this?

[2017-04-03 21:03] jbarmanet commented on #203
Until 10.3 the CMSensorRecorder workaround was working, but since the iOS 10.3 update it does not seem to work anymore, and return false even if the authorization was given… Any updates on this issue in PermissionScope?

[2017-04-05 19:40] eligreg opened #226 "Changing formerly Denied Permission triggers 'Presenting view controllers on detached view controllers is discouraged <PermissionScope.PermissionScope: 0x7fe1120a1000>'"
I'm not quite sure how to debug this issue.

I built a singly referenced PermissionScope like so:

[code]

And present it like so:

[code]

If a permission was formerly denied and I tap 'Show Me' to grant that permission access, upon granting (while my app is still in the background) the logger reads:

`Presenting view controllers on detached view controllers is discouraged <PermissionScope.Permis

[2017-04-05 20:48] nickoneill commented on #226
As designed from Apple: https://github.com/nickoneill/PermissionScope/issues/160

[2017-04-05 20:48] #226 closed

[2017-04-06 16:12] abellee opened #227 "Question about app reinstall in iOS 8"
I read about your code, and found you have set `UserDefaults` to record the app whether requested, just like the `Notification`.
But in iOS 8, if users denied the `Notification`, system will remember the setting, then if the user uninstall the app and reinstall it, the `requested` record is definitely `false`, but the `types` of `UIApplication.shared.currentUserNotificationSettings` is definitely

[2017-04-07 15:31] CaptainYukinoshitaHachiman opened #228 "Crash when tapping "add photos""
I wrote code like this:
let psScope = PermissionScope()
        psScope.addPermission(PhotosPermission(), message: NSLocalizedString("PhotoAccess", comment: ""))
        psScope.show({finished,results in print(results)}, cancelled: { (results) -> Void in print("thing was cancelled")
        })

then I tested the app and it crashes after tapping add photos

[2017-04-07 15:36] uetcis commented on #228
Well,I found that the example doesn't work on my Xcode,too.The same happens again.So maybe it doesn't support Xcode 8.3.1?

[2017-04-07 15:40] uetcis commented on #228
And I found it will only crash when allowing contacts and adding photos, and other permissions works well.

[2017-04-08 04:17] #228 closed

[2017-04-21 23:13] ingeniousgenius commented on #189
I'm not sure anymore. I can try look for the code I used if you wish?

[2017-04-22 21:18] deivitaka commented on #189
Never mind, thanks. It was renamed to _offsetBy_ I think, however I got past that.

[2017-04-22 23:07] shams-ahmed opened #232 "Is this project still being maintained?"
Hey,

As the title say is this project still being maintained? I can see there quite a few issues for feature/improvements and PR...

[2017-04-22 23:56] nickoneill commented on #232
No, I haven't had enough time to give this the attention it deserves and there are quite a few improvements to be made. Happy to accept the help if someone wants to organize a bit and plan to bring some PRs in.

[2017-04-24 09:19] ghost commented on #194
I think I know the answer, but what's the status of this? I want to use PermissionScope in my project, but not if I have to include all of the parts in the Info.plist or if I have to fork the repo and edit files to just use the permissions I need.

If it sounds like I'm expecting someone to do it for me. I'm not. I just don't have the time to do the latter and I don't believe the former "solution"

[2017-05-04 05:34] tedgonzalez commented on #211
Please link the fork, thanks!

[2017-05-04 13:28] NinoScript commented on #211
Sorry, we have it in a private repo, but really, the only change is to make showAlert() public, I guess I'll do it here in GitHub, give me a minute

[2017-05-04 13:33] NinoScript commented on #211
There you go: https://github.com/nickoneill/PermissionScope/pull/234

[2017-05-12 16:38] #73 closed

[2017-05-12 16:39] #84 closed

[2017-05-13 01:25] gaming-hacker commented on #232
has anyone have a list of localizations available?

[2017-05-16 21:23] gaming-hacker opened #236 "localization strings defined but not used."
all,
i see the string files for localization but don't see in the code where they are implemented?

am i missing something?

[2017-05-17 18:57] rlaferla commented on #232
Is there an alternative project to replace PermissionScope?

[2017-06-07 14:03] boywithk9 commented on #194
@nickoneill Any update on this?

[2017-06-07 15:07] nickoneill commented on #194
Nope, no plans to fix this issue at the moment. I would see if there's a fork that implements the change you wanted.

[2017-06-16 13:58] jeffreyjackson commented on #194
@Luccifer did your app pass review with the extra unused description strings?
@alanscarpa looking forward to a PR to address the subspecs

cc @bobbyrehm

[2017-06-16 14:05] sasquatchgit commented on #194
@jeffreyjackson My App passed review.

[2017-06-27 02:38] nitinalabur commented on #203
+1

[2017-07-04 09:17] SandeepAggarwal opened #242 "OnAuthChange block not called"
block is not getting called in case of notification permission

`    PermissionScope* permissionScope = [PermissionScope new];

    switch ([permissionScope statusNotifications])
    {
        case PermissionStatusAuthorized:
            if (authorizedBlock)
            {
                authorizedBlock();
            }
            return;

        case PermissionStatusUnknown:
            [permis

[2017-07-07 08:28] apiapia opened #243 "May Day!May Day!May Day!it will return back to first lanuch ads instead of to setting vc"
最重要的一个BUG就是：
有时点击后跳到设置页面，打开通知，返回APP ，会自动启动页广告，然后到了APP首页！

一、first lanuch App -> ADS swift -> on settingViewController swift addPermission
二、jump to APP settting
三、setting notifications or local and click back to App
四、 do not return viewController
五、just return to ads.swift

How to fix this bug,pls Help,Thanks!

[2017-07-31 10:15] royherma commented on #242
same for me, were you able to resolve?

[2017-08-01 06:14] SandeepAggarwal commented on #242
@royherma Yes, I was able to use a workaround to solve this issue:

//setOnAuthChange: is not being called (bug) so this workaround

[code]

[2017-08-24 18:09] pri8771 opened #244 "How can I move the cancel button? Is offset the only way?"
How can I move the cancel button? If I want to move it to the bottom, is offset the only way? And do I have to keep increasing the width/height until its moved to the center?  I've tried centering it via .center methods, and have not had any luck.

[2017-10-18 08:25] Z-JaDe opened #246 "Swift4"
How to use in Swift4

[2017-10-18 12:03] nickoneill commented on #246
Dunno, as the readme suggests, this is no longer supported.

[2017-10-18 12:03] #246 closed

[2017-10-31 17:24] mhtranbn opened #248 "PermissionScope with NSLocationAlwaysAndWhenInUseUsageDescription"
======
Check the "Known bugs" section (https://github.com/nickoneill/PermissionScope#known-bugs) and past issues before submitting a new report ;)

DELETE THIS TEXT BEFORE SUBMITING A NEW ISSUE.
======
When i run on ios 11 this lib have problem with ** NSLocationAlwaysAndWhenInUseUsageDescription**  xcode hung at "    	assert(hasAlwaysKey, Constants.InfoPlistKeys.locationAlways + " not found in In

[2017-10-31 17:33] nickoneill commented on #248
This project is no longer supported.